[2015-05-05 19:54] mli opened #5 "better support minibatch sgd"
several suggestions to better support minibatch training:

1. don't assume rowblock.offset[0] is always 0. therefore we can implement Rowblock.Segement(10, 20) which returns a rowblock between row 10 and row 20 with zero cost. see https://github.com/dmlc/wormhole/blob/master/learn/linear/base/minibatch_iter.h#L69

and similarly RowblockContainer.GetBlock(10, 20).

but now we need to change the cod

[2015-05-05 20:11] tqchen commented on #5
I think we did not assume offset[0]==0.

I agree that parser can support IndexType, can you do the change?

[2015-05-05 20:17] mli commented on #5
i can add the indextype.

can you add the interface RowBlock.Slice and RowblockContainer.GetBlock, i can do the implementation and testing. there are two choices, [start_row, end_row), vs (start_row, num_row). either is fine for me.

another issue, is it necessary to have multithread parser in libsvm? i didn't see the speedup from 1 thread to 16 threads in my machine.

[2015-05-05 20:34] tqchen commented on #5
Seems that was due to your improvements in the parser. I do see speedup with 4 threads

[2015-05-05 20:35] tqchen commented on #5
I think we can keep the multi-threading part, and fall back to less thread when necessary

[2015-05-06 00:37] tqchen commented on #5
I have added the RowBlock.Slice, there is no need to add slice to RowBlockContainer, you can do
[code]

[2015-05-08 16:57] #5 closed

[2015-05-08 17:26] mli opened #7 "support csv format"
A typical CSV file:

[code]

We assume there are only two types of columns: `real number`, such as Price, and `string`, such as Model and Description. While the category column, such as Year, can be viewed either as real or as string. The parser will use one-shot encoding for string column.

A user can specify the column format:

[code]

where `col[0-3]` presents column 0, 1, 2, and 3. All `col[0,

[2015-05-08 17:38] tqchen commented on #7
Some additional comments:
* The annotation may not cover all the columns, so it can ```select``` the columns specified and ignore the rest

[2015-05-11 17:32] tqchen opened #8 "Better Integration with glog"
See https://github.com/dmlc/wormhole/blob/master/learn/linear/sgd/ftrl.cc#L172 the glog was explicitly included in the bootstrap call. I think we will need a redirection function in dmlc/logging.h

So all loggings goes from dmlc/logging.h and then redirected to glog

[2015-05-12 09:14] panhongan opened #9 "start by run_yarn.sh, following error:"
runtime error log:
src/io/input_split_base.cc:117: FILE size not calculated correctly

Yarn container error:
15/05/12 15:44:28 INFO dmlc.ApplicationMaster: [DMLC] Task 2 exited with status 250 Diagnostics:Exception from container-launch.
Container id: container_1431414776876_0010_01_000004
Exit code: 250
Stack trace: ExitCodeException exitCode=250:
	at org.apache.hadoop.util.Shell.runCommand(Shell

[2015-05-12 09:17] panhongan commented on #9
wormhole/
wormhole/dmlc-core
my work directory tree:
wormhole/repo
wormhole/repo/xgboost
wormhole/repo/rabit
wormhole/learn/xgboost/run_yar.sh (here, I start it)

[2015-05-12 14:57] tqchen commented on #9
I have pushed some fix to dmlc-core, can you pull dmlc-core and try to make clean and make again?

Thanks

[2015-05-13 00:56] mli opened #10 "fix libhdfs problem in CDH"
CDH is slightly difference to the native hadoop. We can support it or write a document to let users change the things accordingly.
- it may do not have `hdfs.h`
- it may only proive a `hdfs.a`

check the version, on my case:

[code]

the solution:
1. to get hdfs.h

according to my version, i download

[code]

extract, and copy

[code]

to the fold `include/`.
1. change `make/dmlc.mk` to use the .a

[2015-05-13 07:05] panhongan commented on #9
my gcc version: gcc version 4.4.7

"dmlc-core" , make failed, following errors:

In file included from src/io/threaded_input_split.h:12,
                 from src/io.cc:13:
include/dmlc/threadediter.h: In member function ‘virtual void dmlc::ThreadedIter<DType>::BeforeFirst()’:
include/dmlc/threadediter.h:179: error: expected primary-expression before ‘[’ token
include/dmlc/threadediter.h: In membe

[2015-05-13 07:08] tqchen commented on #9
You will need to have gcc 4.6 or higher. It is possible to build with gcc 4.4 by removing -std=c++0x

Though some of the speedup threading features will not be available

[2015-05-13 07:17] panhongan commented on #9
‘ParseState’ is not a class or namespace

can't find this class

[2015-05-13 07:22] panhongan commented on #9
I find some issues:
1. src/config.cc
in class TokenizeError, need to add:
  ~TokenizeError() throw() {
  }

2. in include/dmlc/config.h
typedef std::map<std::string, std::vector<ConfigValue>> InternalMap;   ==》
typedef std::map<std::string, std::vector<ConfigValue>(here is a blank) > InternalMap;

typedef typename InternalMap::const_iterator InternalMapIterator; ==>
typedef InternalMap::const_iter

[2015-05-13 08:30] panhongan commented on #9
make succeed。 thanks for your help.

I found that some high-level c++ features used in your project,
it's not available by low-level gcc. so, your project may follow the mainstream gcc.

thx

[2015-05-13 16:37] tqchen commented on #9
To enable all the features in dmlc-core, you will need to have g++4.6(preferrably g++4.8 for c++11 features). I am aware of the backward compatibility issue with earlier version of g++, we will try to support it, but with missing support for some features.

I would encourage you to upgrade your compiler(normally you only need to do it in your user space and ship the library, we will have more deta

[2015-05-18 02:24] panhongan commented on #9
error occurs:
src/io/input_split_base.cc:118: curr=61812865595,fileptr=0,fileoffset=74175438713
src/io/input_split_base.cc:124: file offset not calculated correctly

but this error doesn't occur everytime.
so can you help to fix it.

[2015-05-18 04:24] tqchen commented on #9
interesting.. Originally, the cause of the problem was due to the fact that hdfsRead returns incomplete. In theory the problem was fixed in the recent commit.

Such problem can occur when hdfsRead returns 0 while end-of-file was not yet reached. Which seems do not meet the spec of hdfsRead in libhdfs.

One side note: I have noticed that you used quite a large file. All the dmlc input module can ta

[2015-05-21 10:06] panhongan commented on #9
cool. you're right.
here, I found a bug : if worker task failed by abortJob(), the ApplicationMaster process will not be stopped. And I fix the bug. How can I contribute the code?

[2015-05-21 10:15] hjk41 commented on #9
could you create a pull request?

On Thu, May 21, 2015 at 6:06 PM, panhongan <notifications@github.com> wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-05-21 10:16] hjk41 commented on #9
Of course you can also send us the patch if it is small. But in that case
we won't be able to see you name in the committer list, which is bad.

On Thu, May 21, 2015 at 6:14 PM, Chuntao HONG <chuntao.hong@gmail.com>
wrote:

--
HONG Chuntao
System Research Group
Microsoft Research Asia

[2015-05-22 02:25] panhongan commented on #9
I have pulled request. pls check it. thx.

[2015-05-22 07:34] elfring opened #13 "Remove unnecessary null pointer checks"
[Extra null pointer checks are not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for NULL before delete p?") like the following.
* [DiskRowIter](https://github.com/dmlc/dmlc-core/blob/1ab850b2c6d1e0dbf317348585eaf3f536a426ff/src/data/disk_row_iter.h#L52 "Destructor for DiskRowIter")
* [ThreadedInputSplit](https://github.com/dmlc/dmlc-core/b

[2015-05-22 17:35] tqchen commented on #9
thanks

[2015-05-22 17:35] #9 closed

[2015-05-23 22:24] tqchen opened #14 "Support for Google Cloud Storage"
Support for google cloud storage can be done similarly as https://github.com/dmlc/dmlc-core/blob/master/src/io/s3_filesys.cc via rest API

It could involve a refactor of s3 filesys to be a general base, which take s3 and gcs as child class. Guess similar thing could also be done to support Azure's cloud.

Anyone who is interested in claim this is welcomed to reply on this thread

[2015-05-23 22:26] tqchen opened #15 "support mesos job tracker"
Curently there is no support for mesos trackers, which is another common way to submit jobs to a cluster other than YARN. It could be interesting to support job submission tracker for mesos

[2015-05-24 13:56] jermainewang opened #16 "Setup a ci for testing all possible scenarios"
We really need one.

[2015-06-11 06:33] hjk41 opened #18 "improve libsvm parser performance"
currently libsvm_parser parses each line twice, which can be improved, and handling of isnumberchars() is awkard. Fix them when you have time.

[2015-06-12 05:14] lokenetwork opened #19 "Hi，could you make the class in www.imooc.com"
The introduce is important for the new people,say how to use it.
like the fis, fis is baidu product.
http://www.imooc.com/learn/220

[2015-06-12 07:17] hjk41 commented on #19
Thanks loken for the suggestion.

Unfortunately we don't have much time for recording tutorial for now.
Recording good videos takes a lot of effort.

We do encourage anyone to give any kind of tutorial on DMLC and its
sub-projects. If you are interested, you can try to give tutorial on immoc,
and we will give you as much help as we can.

On Fri, Jun 12, 2015 at 1:14 PM, loken <notifications@github

[2015-06-19 11:19] zhongwen opened #21 "USE_GLOG = 1 cannot be used on non-system glog"
Need CFLAGS for non-system glog.

The glog may have different versions, e.g. one from system, one in dmlc/ps-lite @mli when using dmlc/cxxnet with ps.

[2015-06-20 11:42] zhongwen commented on #21
Fixed in c90fd5c

[2015-06-20 11:42] #21 closed

[2015-07-02 18:22] #19 closed

[2015-07-03 02:47] tqchen commented on #16
The Travis CI is not setup

[2015-07-17 01:50] rodrigob opened #25 "Compilation error: ‘Write’ is not a member of ‘dmlc::serializer::UndefinedSerializerFor<char>’"
I am trying a fresh install of cxxnet and hit the following compilation error

[code]
any idea of what is going wrong ?

[2015-07-17 01:53] rodrigob commented on #25
Clang reports

[code]

[2015-07-17 01:59] tqchen commented on #25
This should be solved by specialization here
https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/type_traits.h#L50

I am not sure what was going on in your compiler as my compiler successfully compiles it. Can you change it to ```DMLC_DECLARE_TRAITS(is_pod, char, true);``` and see if it solves the problem?

[2015-07-17 02:05] rodrigob commented on #25
Neither g++-4.8 nor clang++-3.5 compiled the code out of the box.

Adding the line `DMLC_DECLARE_TRAITS(is_pod, char, true);` fixed the issue.

[2015-07-17 02:05] #25 closed

[2015-07-17 02:38] tqchen commented on #25
Thanks!

[2015-07-17 02:41] tqchen commented on #25
Do you might open a PR for this? Even though this is a minor fix:)

Thanks!

[2015-07-17 02:42] rodrigob commented on #25
I could but I am not sure if it would break compilations on platforms where int8_t == char.

[2015-07-17 02:46] tqchen commented on #25
Seems int8_t and char should be different things, according to the standard.

[2015-07-17 02:48] rodrigob commented on #25
PR #26 created.

[2015-07-21 23:55] #8 closed

[2015-07-22 00:00] mli commented on #13
fixed, thanks:)

[2015-07-22 00:00] #13 closed

[2015-07-22 10:00] elfring commented on #13
Thanks for [your small source code improvement](https://github.com/dmlc/dmlc-core/commit/5cd3d2749058cbbafab627d7f1c7499860c6d219 "Deletion of a few unnecessary checks").

[2015-07-28 09:20] weijianwen opened #28 "Refine support for Intel compiler and more optimization flags"
In many cases, simply recompiling code against Intel compiler (ICC) and Math Kernel Library (MKL) gains 5%~15% performance improvement over GCC. So I propose to give users the choice to build dmlc-core with ICC or GCC.

Wider vectorization has been introduced in recent (?Intel only?) CPU. For example, AVX with 256-bit SIMD (for float only) since Sandy Bridge in 2012 and AVX2 with 256-bit SIMD (for

[2015-07-28 16:53] mli commented on #28
i think it can be done by changing CXX in config.mk into `icc -march=core-avx2` or simply overwrite CXX by `make CXX="icc -march=core-avx2"`

[2015-07-29 03:39] weijianwen commented on #28
To take AVX as an example, simply change ```CXX``` to ```icpc -xavx``` in ```make/config``` doesn't work. The advanced vectorization flag (avx) will be override by the old vectorization flag (sse2) which is introduced by ```CFLAGS```in ```Makefile```.

[code]

Given that different compilers may have (slightly?) different compiling and linking flags, Specification for compiler, CFLAGS and LDFLAGS s

[2015-07-29 08:43] weijianwen commented on #28
I will also try to build dmlc-core with ```-march=native``` in GCC. Hopes it won't break things. There should be NO compatibility issue if the building host and running host use CPUs with the same HW features. I think it is common practice in cluster.

I am not sure whether it is worthy to change the default flag from ```-msse2``` to ```-march=native```, in trade of some performance gain (if any).

[2015-07-30 07:23] weijianwen commented on #28
I'll close this issue and open two PR after my verication:

1. Move "CFLAGS" adn "LDFLAGS" to ```make/config```. Replace "-msse2" with "-march=native".
2. Add ```make/config.icc``` for Intel Compiler.

Best,

[2015-07-30 07:23] #28 closed

[2015-08-18 05:42] snnn opened #35 "Compile fail on Visual Studio 2015"
source code version: e9b5cdb2f63f07f853751db6b92f0fa6565971b9
OS: Windows 10 x64
1>------ Build started: Project: dmlc, Configuration: Release x64 ------
1>  data.cc
1>C:\Program Files (x86)\Windows Kits\10\Include\10.0.10150.0\ucrt\stdio.h(1419): warning C4005: 'vsnprintf': macro redefinition
1>  C:\work\dmlc-core\include\dmlc/base.h(88): note: see previous definition of 'vsnprintf'
1>C:\Program

[2015-09-29 15:43] tqchen commented on #35
@hjk41  can you take a look on what was happening?

[2015-09-30 03:14] happynear commented on #35
I have fixed this in https://github.com/dmlc/dmlc-core/pull/55 . Please check.

[2015-10-04 02:25] #35 closed

[2015-11-14 06:39] hanchensu opened #69 "dmlc can't work on hadoop cluster using LCE"
dmlc will throw exception on hadoop cluster using LCE which uses nobody to run tasks:

Exit code: 1
Stack trace: ExitCodeException exitCode=1:
	at org.apache.hadoop.util.Shell.runCommand(Shell.java:538)
	at org.apache.hadoop.util.Shell.run(Shell.java:455)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:702)
	at org.apache.hadoop.yarn.server.nodemanager.LinuxContainerExecut

[2015-11-16 02:05] #69 closed

[2015-11-22 11:07] futurely opened #74 "Support for Aliyun cloud storage service OSS"
Currently supported distributed file systems include [Amazon Web Services S3](https://github.com/dmlc/dmlc-core/search?q=s3&type=Code&utf8=%E2%9C%93), [Microsoft Azure](https://github.com/dmlc/dmlc-core/search?q=azure&type=Code&utf8=%E2%9C%93), and [Apache Hadoop HDFS](https://github.com/dmlc/dmlc-core/search?q=hdfs&type=Code&utf8=%E2%9C%93).

Aliyun is the largest cloud computing company in China

[2015-12-17 07:34] DaleSong89 opened #78 "Compile Error on Windows 7-64bit"
hi all, when I was compiling mxnet using vs2013 solution generated by CMake Gui, there were always compilation errors such as:

    "mxnet\include\mxnet/ndarray.h(594): error : has_saveload is not a template"
    "D:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\INCLUDE\utility(201): error : incomplete type is not allowed detected during instantiation of class "std::pair<_Ty1, _Ty2> [with _T

[2015-12-17 07:36] #78 closed

[2015-12-21 12:15] tqchen commented on #7
start with a dense column parser at #79

[2015-12-29 13:27] sharkdtu opened #82 "make lint error"
when i run command "make lint", i get following errors. Is there something i need to configure?
python scripts/lint.py dmlc "all" include src scripts
Traceback (most recent call last):
  File "scripts/lint.py", line 13, in <module>
    from pylint import epylint
ImportError: No module named pylint
make: *** [lint] Error 1

[2015-12-30 03:56] tqchen commented on #82
It depends on pylint, you can install it via```pip install pylint```

[2016-01-08 16:44] #82 closed

[2016-01-14 01:11] gzc commented on #10
I use .so and jars which provided by hadoop2.6.2 instead of libhdfs.a. Everything seems went well, it can successfully compile and access CDH HDFS :)

[2016-01-27 07:36] hjk41 opened #105 "Making it a header-only library?"
Is there any specific reason why we didn't make it a header-only library? I think a header-only library is much easier to integrate into other projects.

[2016-01-27 17:02] tqchen commented on #105
I made an a attempt to do so in here https://github.com/dmlc/xgboost/blob/master/amalgamation/dmlc-minimum0.cc

I think the general idea of creating an amalgamation option is great for portability. However, the code can still be organized as it is.

[2016-02-19 15:52] tqchen commented on #105
closing for now

[2016-02-19 15:52] #105 closed

[2016-02-19 16:04] tqchen opened #111 "[Discussion] Unified Tracker"
This is the proposal for a unified tracker script that is used to launch all DMLC jobs. I will post all the necessary parameters here, and please respond the discussion if we want to iterate. Previously the tracker script of DMLC job submission has been separated into different python files. While this can be convenient, it also makes user hard to find a central command instruction  to submit all

[2016-02-20 16:54] tqchen commented on #111
@mli @hjk41

[2016-02-22 05:02] hjk41 commented on #111
https://bitbucket.org/hjk41/popcorn
This is the Yarn code we are using to start different jobs on our clusters,
including MPI jobs and some other parameter server applications. We are
still working actively to improve it. If you are interested, I think we can
make it part of DMLC.

On Sun, Feb 21, 2016 at 12:54 AM, Tianqi Chen <notifications@github.com>
wrote:

--
HONG Chuntao
System Research Grou

[2016-02-22 17:35] tqchen commented on #111
@hjk41  It seems to be interesting. I think the goal is to make one unified tracker that handles most job  submission tasks. And make one application master that satisfies all the jobs.

If what you did was general and works for all types of YARN env, I think it might be interesting to incorporate your code into current dmlc's tracker and YARN script, so we can combine force together on this.

[2016-02-22 22:12] seusofthd commented on #111
For yarn, we also have to specify the resource manager ip and the yarn-script location, I don't know whether these parameters should also be specified or noot in mpi

[2016-02-23 02:44] tqchen commented on #111
Yes, we will definitely have some arguments specific for YARN. The point of unified submission script is more for clear documentation, and user know where to start with in the first place

[2016-02-23 03:04] wenmin-wu commented on #10
@mli  I had make the changes according to your suggestions, but it still come out with the error as following:
/usr/bin/ld: /usr/lib/hadoop/lib/native/libhdfs.a(hdfs.c.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a shared object; recompile with -fPIC
/usr/lib/hadoop/lib/native/libhdfs.a: could not read symbols: Bad value

[2016-02-23 05:44] tqchen commented on #111
I have make a refactor in https://github.com/tqchen/dmlc-core/tree/master/tracker

Some of the arguments are not backward compatible and moved to full name instead of abbrevation. Have not yet tested YARN mode, will run a test tomorrow. Comments are welcomed

[2016-02-24 05:51] tqchen commented on #111
Opened PR here https://github.com/dmlc/dmlc-core/pull/113

[2016-02-24 05:52] tqchen commented on #111
I have tested on xgboost jobs. @seusofthd  Can you help testing the new tracker on mxnet jobs?

[2016-02-24 06:09] seusofthd commented on #111
Is it ok to just test yarn and local mode? We do not have the environment for openmpi, sge and mpich2.

[2016-02-24 17:41] tqchen commented on #111
yes yarn and local are fine

On Tue, Feb 23, 2016 at 10:09 PM Di Huang <notifications@github.com> wrote:

[2016-02-25 00:35] tqchen commented on #111
@seusofthd YARN and local mode should be fine, also please update your tutorial to the new arguments after it is merged:)

[2016-02-25 07:02] seusofthd commented on #111
Ok, I will update it tomorrow. These two days we are catching up with a
product deadline.

On Wed, Feb 24, 2016 at 4:35 PM, Tianqi Chen <notifications@github.com>
wrote:

[2016-02-26 18:22] tqchen opened #114 "AppMaster Kill Job Even if it finishes Normally"
see https://github.com/dmlc/xgboost/issues/879 I also observe this in my experiments. This was introduced in https://github.com/dmlc/dmlc-core/blob/master/tracker/yarn/src/main/java/org/apache/hadoop/yarn/dmlc/Client.java#L273

@seusofthd  Please look into it and submit a fix. I think we need to add a hook only for signal events such as ctrl +c but not normal shutdown

[2016-02-26 18:28] seusofthd commented on #114
Let me take a look

[2016-03-17 07:17] littlejin opened #123 "Runtime check failed"
What does the following check failed mean ?

in `dmlc-core/src/data/row_block.h`

[code]

And how to fix that ?

Thanks

[2016-03-19 02:15] cicadas commented on #10
@wenmin-wu I also encountered this error. have you fixed it?

[2016-03-24 10:55] peperxuhui commented on #10
I had questions the same as @wenmin-wu  and @cicadas , Can anyone fixed it?

[2016-03-24 10:57] peperxuhui opened #126 "Bad Support for HDFS"
I had make the changes according to https://github.com/dmlc/dmlc-core/issues/10 , but it still come out with the error as following:
/usr/bin/ld: /usr/lib/hadoop/lib/native/libhdfs.a(hdfs.c.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a shared object; recompile with -fPIC
/usr/lib/hadoop/lib/native/libhdfs.a: could not read symbols: Bad value

[2016-03-24 11:31] cicadas commented on #10
@peperxuhui
I think there are tow solutions.
1. I use centos 6, and I installed a package hadoop-libhdfs-devel

[code]

   this package contains libhdfs.so, and you can compile xgboost using libhdfs.so. However, this is a dynamic library, you have to install hadoop-libhdfs on every node in your hadoop grid, otherwise, you may counter running time error.
2. Another solution is compile hadoop by you

[2016-03-24 14:37] #126 closed

[2016-03-25 06:26] blair101 opened #127 "dmlc core"
dmlc/dmlc-core. I'm coming

[2016-03-26 08:55] peperxuhui commented on #10
I tried what @cicadas  said, but unfortunately, after i added cdh.repo to yum.repos.d, hadoop-libhdfs-devel was so big that i can't download, it always DOWNLOAD ERROR in China , so I tried the second way, I didn't know how to add -fPIC in CMakeLists.txt so I complied the Hadoop without add -fPIC and finally I got libhdfs.so in lib/native and I add DMLC_LDFLAGS+=$(HADOOP_HDFS_HOME)/lib/native/libhd

[2016-03-28 05:58] cicadas commented on #10
@peperxuhui
first download hadoop sourcecode: wget 'http://archive.cloudera.com/cdh5/cdh/5/hadoop-2.6.0-cdh5.4.8-src.tar.gz'
download protobuf 2.5 (cdh 5.4.8 can onle use protobuf 2.5.0 to compile): wget 'http://protobuf.googlecode.com/files/protobuf-2.5.0.tar.bz2'

unzip cdh, and run mvn command in cdh path:
mvn package -Pdist,native -DskipTests -Dtar.
all compiled *.so files are under hadoop-hdf

[2016-04-15 17:14] edi-bice opened #131 "dmlc-submit eats command quotes"
I use RedHat 6.8 for my YARN cluster nodes, and it uses Python 2.6.6. In order to get Python 2.7 in RedHat one uses Software Collections. To activate a software collection one must do scl enable python27 'python -V'

Problem is when I try to submit my Python job to YARN as follows

dmlc-submit --cluster=yarn scl enable python27 'python -V'

... it seems to eat up the quotes and produces this error

[2016-04-20 18:39] edi-bice commented on #131
Looked into argparser (which dmlc-core and xgboost use) source code trying to figure out any possible escaping mechanism. Couldn't find any but did find out it picks up job submission node environment and recreates on each of the execution nodes. Looked at the 'scl enable' and /opt/rh/python27/enable script and realized LD_LIBRARY_PATH is the important one. PATH is also but for some reason it does

[2016-04-20 18:39] #131 closed

[2016-05-09 13:14] szad670401 opened #132 "can't find libdmlc.a"
g++ -DMSHADOW_FORCE_STREAM -Wall -O3 -I/Users/yujinke/mxnet/mshadow/ -I/Users/yujinke/mxnet/dmlc-core/include -fPIC -Iinclude -msse3 -funroll-loops -Wno-unused-parameter -Wno-unknown-pragmas -DMSHADOW_USE_CUDA=0 -DMSHADOW_USE_CBLAS=1 -DMSHADOW_USE_MKL=0 -I/System/Library/Frameworks/Accelerate.framework/Versions/Current/Frameworks/vecLib.framework/Versions/Current/Headers/ -DMSHADOW_RABIT_PS=0 -DMS

[2016-05-11 10:50] moveforever opened #133 "fails to call launchDummyTask function"
Hi, tianqi. I ran XGBoost on yarn. I have ran a test code:mushroom. My script's parameters is as followed:

[code]

When it calls launchDummyTask, it will run launcher.py without delivering any parameters. My yarn logs is as followed:

[code]

[2016-05-11 12:20] BaiGang commented on #133
What's in `$CONF`? Did it break the command line?

[2016-05-11 14:07] moveforever commented on #133
It's listed as followed:
[code]

[2016-05-11 14:16] moveforever commented on #133
There is an exception:
[code]

[2016-05-12 14:39] moveforever commented on #133
Hi BaiGang, in the affternoon I notice that it break in launch.py:line 76 which is as followed:
[code]
In the evening, I replaced check_call with call, and finally I found the bug is
[code]

[2016-06-13 09:02] iamvamsi opened #136 "tracker script waiting indefinitely even after successful exit of yarn"
Submitting using the dmlc-submit script is resulting in the successful spawning and completion of the job on yarn, but the dmlc-submit.py script is waiting indefinitely. The stack trace generated by killing at that point is resulting in the following stack trace :

File "./tracker/dmlc-submit", line 9, in <module>
    submit.main()
  File "/idn/home/vdevabat/workingDir/tracker/dmlc_tracker/submit.

[2016-06-27 15:15] CodingCat opened #137 "dmlc-submit does not recognize ssh as cluster type?"
[code]

[2016-07-05 20:26] mick001 opened #144 "Missing dmlc/base.h problem when installing R package"
Hi, I am trying to install mxnet package for R on Ubuntu 16.04 LTS. However I am running into an issue.

These are the steps I took:

1. Type in the terminal:

`sudo apt-get install -y build-essential git libatlas-base-dev libopencv-dev
git clone --recursive https://github.com/dmlc/mxnet
cd mxnet; make -j$(nproc)`

2. Then build and install the  R package

`R CMD BUILD R-package/
R CMD INSTALL  mx

[2016-07-06 22:41] tqchen commented on #144
@thirdwing

[2016-07-07 01:03] thirdwing commented on #144
I think you missed `make rpkg`.

[2016-07-07 15:12] xlvector opened #147 "compile error with include/dmlc/json.h in mxnet"
I find this file changed 15 hours ago and this change may cause mxnet build error:

In file included from /usr/include/c++/4.8/typeindex:35:0,
                 from /dl/xlvector/mxnet/dmlc-core/include/dmlc/./json.h:19,
                 from /dl/xlvector/mxnet/dmlc-core/include/dmlc/parameter.h:22,
                 from include/mxnet/base.h:12,
                 from src/ndarray/./ndarray_function.

[2016-07-07 15:15] xlvector commented on #147
reset dmlc-core to 5c0efa5dbe3e70cdb6c4971ed1149041b7f57d25 can solve this error

[2016-07-07 16:49] tqchen commented on #147
can you see if https://github.com/dmlc/dmlc-core/issues/147 fixes the issue?

[2016-07-08 00:13] xlvector commented on #147
fixed

[2016-07-08 00:13] #147 closed

[2016-07-10 17:18] tqchen commented on #137
ssh used to sit on @mli 's pslite repo and may not have been moved yet

[2016-07-10 18:04] #137 closed

[2016-07-11 13:36] harryprince commented on #144
@thirdwing It works for me at Ubuntu 14.04

[2016-07-11 13:46] harryprince commented on #144
the official R installation tutorial have a error with the download website.
However, the right way to install is
[code]
if you don't install roxygen2, you need to run
[code]
and then run
[code]
which will give you a great mxnet package:`mxnet_0.7.tar.gz `.

Now, you can run
[code]
you will see

[code]

[2016-07-11 15:50] thirdwing commented on #144
The instruction is correct. These lines below are used to install all the dependencies including `roxygen2`.

[code]

[2016-07-11 18:40] mick001 commented on #144
@thirdwing ops, my bad, it worked! Thank you for your help!

[2016-07-11 18:41] #144 closed

[2016-07-17 06:52] Earthson opened #154 "tracker.py not work with Python 3.5"
- sock.recv return byte instead of string
- sendstr need encode and recvstr need decode
- remove xrange & replace some range with list(range)
- use division `//` instead of `/`

[2016-07-17 10:05] Earthson opened #156 "tracker.py OSError: [Errno 48] Address already in use"
[code]

tracker.py only check error code 98 to reselect a new port, I think code 98 should also be considered:)

[2016-07-18 06:05] #154 closed

[2016-07-19 17:50] #156 closed

[2016-07-27 05:07] yxzf opened #160 "The error in dmlc-core/tracker/dmlc_tracker/tracker.py"
@Earthson
I cloned the code today, and test the dmlc-submit, but find this error

sh run_xgboost.sh
Traceback (most recent call last):
  File "/opt/meituan/xgboost/dmlc-core/tracker/dmlc-submit", line 7, in <module>
    from dmlc_tracker import submit
  File "/opt/meituan/xgboost/dmlc-core/tracker/dmlc_tracker/submit.py", line 6, in <module>
    from . import local
  File "/opt/meituan/xgboost/dml

[2016-07-27 09:58] Earthson commented on #160
@yxzf what is your python version? It seems to be your python does not support "{}"

you could change {98, 48} to [98, 48].

[2016-07-27 10:04] Earthson commented on #160
@yxzf I've changed some code to support Python 2.7&3.5. (Python 2.7.12 & 3.5.1 tested). Python 2.6 has no support to this set literal which is my mistake:)

[2016-07-27 10:13] Earthson commented on #160
@yxzf Could you test it and prepare a PR? I'm on a business trip.

[2016-07-27 13:18] yxzf commented on #160
@Earthson I have changed it to [98, 48], now it's OK. And I make a Pull Request.

[2016-08-10 09:13] coder-james commented on #136
@iamvamsi have you solved this problem?

[2016-08-10 10:46] iamvamsi commented on #136
No, not in the correct way. But I found the below hack to make a work around.
////// See the line before SKIPPING JOIN is getting printed.

<img width="771" alt="screen shot 2016-08-10 at 4 15 31 pm" src="https://cloud.githubusercontent.com/assets/1460677/17551100/ca295dc0-5f15-11e6-9005-585231813a0c.png">

[2016-08-10 13:14] coder-james commented on #136
i ran train_mnist.py with ssh, 2 workers, 2 servers, and PSTracker in tracker.py worked, so i think the cause may be dmlc-yarn.jar with ps or wrong script arguments i set, i got a little confused with launcher.py and dmlc-submit arguments. Still try to figure it out...you started rabit tracker in another thread, but shouldn't rabit and ps be used separately? Anyway, Thank U!

[2016-08-15 09:19] zhangruichang opened #163 "use wildcard directory get error"
include/dmlc/logging.h:245: [08:12:44] src/io/hdfs_filesys.cc:156: Check failed: files != NULL Error when ListDirectory /directory/_/train.gz terminate called after throwing an instance of 'dmlc::Error' what():  [08:12:44] src/io/hdfs_filesys.cc:156: Check failed: files != NULL Error when ListDirectory /directory/_/train.gz

http://doc.mapr.com/pages/viewpage.action?pageId=29658211

maybe hdfsList

[2016-09-01 07:00] formath opened #170 "[DMLC] Task 0 killed because of exceeding allocated virtual memory"
I submit job via
[code]

But the application is killed because of exceeding allocated virtual memory. The full log listed below.

[code]
How to solve this problem?

[2016-09-01 14:56] LTzycLT commented on #170
I met the same problem today and still don't know how to solve it yet. @tqchen

[2016-09-05 06:51] formath commented on #170
I additionally set work-memory and server-memory. It works.

[2016-09-05 06:51] #170 closed

[2016-09-23 03:19] chenjx1005 opened #175 "hdfs accessing with ip and port"
I use ImageRecordIter to access the `val.rec` in hdfs, like `val =mx.io.ImageRecordIter(path_imgrec = "hdfs://address:54310/data_dir/val.rec",`
however the error log is :`Exception in thread "main" java.io.IOException: Incomplete HDFS URI, no host: hdfs://address:54310:0`
I track the code and it seems whether the address has a port is ignored, and a port 0 is added. Is this a bug?
 this is the rel

[2016-09-23 04:49] chenjx1005 commented on #175
@sharkdtu

[2016-09-23 06:24] sharkdtu commented on #175
I checkd the libhdfs api docs and related sources. When the port is set 0, it will be ignored. You can check your hdfs-c api docs and sources, Maybe it is different from apache hadoop-hdfs.

[2016-09-23 13:45] chenjx1005 commented on #175
Yes. The api of my hdfs is different. So I will just change the code in my own branch. Thank you. @sharkdtu

[2016-09-23 13:45] #175 closed

[2016-09-28 08:41] wenmin-wu opened #178 "Report some problems with Client.java and ApplicaitonMaster.java when use HDFS federation"
Recently, my colleague change the HDFS to federation mode, then the xgboost on yarn get the following error: `Diagnostics: Incomplete HDFS URI, no host: hdfs:///tmp/temp-dmlc-yarn-application_1472437483579_135758/libstdc++.so.6`.
I read the Client.java and found that in line 143 `Path dst = new Path("hdfs://" + tmpPath + "/"+  path.getName());` there is no given host. So I replace this line with `

[2016-09-30 10:00] luoli523 opened #179 "Run example training on yarn failed."
Guys:
    I am trying to launch example traing_mnist.py on Yarn cluster which with 50 nodes, the launch script like below:

[code]

It keeps failed and the yarn container told me below logs:

[code]

and there is no method to add `-file` option to the script of tools/launch.py?

Any one run the distributed training example on Yarn?

[2016-10-19 03:15] bhlangonijr commented on #123
I got around this issue removing `NaN` values present in the input libsvm file being loaded.

[2016-10-25 08:35] AbdealiJK opened #181 "Mimic complete environment in all worker nodes"
It would be nice to have an argument in the dmlc-submit script which will copy all the environment variables into the worker nodes.
This would be an easy way to do it rather than doing each env variable by hand for simple tasks.
`--env-all` ?

[2016-10-31 17:22] AbdealiJK opened #182 "JSON: Add function AddIndent()"
I've had instances where I would like to first generate a JSON object in one function and then embed this into a array in another JSON object.

In such cases, I do something like:
[code]
But this means the indenting is not right anymore. Would be nice to be able to fix the indenting with:
[code]
or something similar

[2016-11-07 11:18] thengl opened #184 "Classification using mxnet in R --- factors need to be transformed to indicators in format 0, 1, 2 ,..., p"
I have tested using your package for mapping soil types (geographical data). I was first simply using 'factor' format for the `train.y`, but then realized that predict will also add class `'0'` (basically missing values). After I [converted factors to integers](https://github.com/ISRICWorldSoil/GSIF_tutorials/blob/master/eberg/soilmaps_MLA.R#L78) (0,1,2,..,p) the maps were fine.

I have installed

[2016-11-09 11:43] thengl commented on #144
I'm getting the following error:

[code]

I've managed yesterday to install mxnet on one ubunut 16.4 system, now having more difficulties. Package installation is definitively a cumbersome (might have to turn back to h2o on the end) considering all dependencies etc.

[2016-11-09 14:18] thirdwing commented on #144
The error message you provide means there is an error in your R
installation. Nothing related to mxnnet.

Please check  your R installation, especially the blas installation.

Best wishes,

KK

On 11/09/2016 06:43 AM, Tomislav Hengl wrote:

[2016-11-09 20:59] thengl commented on #144
I am using MRO installation for ubuntu, but it could be that something went wrong. I have just re-installed MRO, and now I get problems with im2rec when I run:

[code]

I get:

[code]

I have installed CUDA and all other libraries required.

[2016-11-10 14:25] thirdwing commented on #144
I think you met the error in opencv part.

Can you disable opencv for now?

[2016-11-11 13:09] thengl commented on #144
OK, I have managed to install it (and yes looks like I had an old R installation somewhere hidden). So looks like Rscript looks first for some older installation:

[code]

and that is why the make rpkg did not want to run (Rscript pointing to some older version). Need to clean up my server obviously.

Finally, I've run your `rpkg` function code by code:

[code]

and the installation was finally su

[2016-11-11 18:43] thirdwing commented on #144
It should run in parallel if you open the openmp support when compiling.

[2016-11-12 18:53] thengl commented on #144
RE "if you open the openmp support when compiling" I am not sure how to do that from R. I assume that having the `USE_OPENMP = 1` in the [config.mk](https://github.com/dmlc/mxnet/blob/master/make/config.mk#L60) would do the trick? I also use [ranger](https://github.com/imbs-hl/ranger) package for my data analysis, but this runs automatically in parallel (very efficient). OK will test and come back

[2016-11-15 07:32] AbdealiJK opened #186 "Allow additional params in data file parsers"
It is not always easy to have all the required arguments in the file URI spec.
Hence, it would be nice to be able to pass an additional set of arguments in the Parser::Create() funciton.

[2016-12-05 04:20] AbdealiJK commented on #181
This can be easily fixed by giving an appropriate bash script which sets the env variables correctly. This seems a cleaner way of doing this as setting all env variables is a bad idea and can cause clashes.
Closing this.

[2016-12-05 04:20] #181 closed

[2016-12-05 04:21] AbdealiJK commented on #127
Uhm ? Spam ?

[2016-12-05 04:32] AbdealiJK commented on #160
Was fixed in https://github.com/dmlc/dmlc-core/commit/5c36a2c0f79c0f6082e1d20e0feaf0efe5080d0d
This issue can be closed ?

[2016-12-05 04:33] AbdealiJK commented on #132
I'm assuming you didn't clone recursively (so the dmlc-core submodule was not cloned) because of which those folders don't exist and so dmlc-core never got compiled ?

[2016-12-05 04:42] AbdealiJK commented on #7
I'd love to contribute CSV readers here.
Can someone explain what this task requires exactly?

As I see it, we'd need a CSV with the following:
 - Which column is a label (added by @tqchen already)
 - Which column is a weight
 - NoHeader/Header option
 - Delimiter option

Questions:
 - Does it also need to be able to read strings ? If yes, how are commas inside strings handled ?
 - Also if strings

[2016-12-05 04:52] AbdealiJK opened #195 "Merge lint.py and lint3.py"
I was looking at lint.py and lint3.py and they're the same with very minor differences, it makes sense to reduce these to a single lint.py with if conditions for python3.

There have been efforts to do this, but it's not yet complete - https://github.com/dmlc/dmlc-core/commit/f1e1033ad31491ee1c0fc72b8d9402b250e38544#diff-460cb56a7855c776ca8943d6f4f2c6c4

The differences are:
 - Use iteritems inste

[2016-12-05 10:46] #195 closed

[2016-12-05 14:47] AbdealiJK commented on #7
So, I've made https://github.com/dmlc/dmlc-core/pull/197 which has an initial version with some additional features.
Two issues:
 - The linux testcase seems to be failing but I have only a Mac so can't figure out why it's failing
 - Any hints on how to accept a range of items in the param ? I can see XGBoost can declare a param as a vector - https://github.com/dmlc/xgboost/blob/master/src/tree/par

[2016-12-05 21:18] AbdealiJK opened #198 "Allow ignoring columns in libsvm_parser"
For xgboost, it would be nice to be able to ignore certain columns in the config file and build a model on top of that. This would make it simple to build models with or without certain variables using a config rather than modifying the whole data file - which takes time if the data is large

[2016-12-05 21:19] AbdealiJK commented on #198
I've created a commit in https://github.com/dmlc/dmlc-core/pull/197 about it because it was something I was adding to csv_parser anyway.

[2017-01-09 01:40] mcxkarakoc opened #208 "MPI launcher does not transfer LD_LIBRARY_PATH variable."
tracker/dmlc_tracker/mpi.py does not transfer LD_LIBRARY_PATH to slave nodes variable unlike SSH launcher. When the libraries such as CUDA, MKL are used, the other nodes may raise the error.

[2017-01-12 17:29] Lisz1024 opened #209 "Something wrong in text_parser.h"
[code]
Why the num_threads is `nthread_` , buy use `nthread` to calculate nstep?
In my machine, `nthread_ = 2` and `nthread = 20` , so I only can read 1/10 data, 18 data blocks are empty ...
Why not only use one of them? @tqchen

[2017-01-12 18:32] tqchen commented on #209
good point, can you open a PR to fix this problem?

[2017-01-13 09:15] shenpengjianke opened #211 "Something wrong in test/iostream_test.cc"
Here is the suspected code snippets：

	if (argc < 2) {
		printf("Usage: <filename>\n");
		return 0;
	}
	dmlc::Stream *fs = dmlc::Stream::Create(argv[1], "w");
	dmlc::ostream os(fs);
	os << "hello-world" << 1e-10 << std::endl;
	delete fs;
}

fs is a pointer. When os is destructed, it call its member variable stream_, which stream_ = fs.
So if we delete fs before os is destructed, as above code show

[2017-01-13 17:30] tqchen commented on #211
You are write, os must get destructed before fs get destructed. deleting fs will change the behavior of the filesystem API though.

[2017-01-13 17:31] tqchen commented on #211
you are more than welcomed to push a fix. Usually we simply put os in another scope.

[2017-01-27 17:06] sandeep-krishnamurthy opened #214 "Cannot read files from S3 bucket. Always Expects files to be under folder"
The current implementation will always expect files to be under an S3 folder.
Example:
s3://bucket/data.csv => Cannot read. Fails
S3://bucket/folder/data.csv => Success

Similar issue - https://github.com/dmlc/mxnet/issues/4578

[2017-01-27 17:12] sandeep-krishnamurthy opened #215 "Using temporary credentials (Instance profiles) requires session token."
If a user wants to use AWS temporary credentials provided via instance profiles  then user needs to send a session token that has to go to requests to AWS: http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html#UsingTemporarySecurityCredentials​
in addition to the access key and secret key.

[2017-02-08 14:21] lygstate opened #218 "Patch for Detecting DMLC_USE_CXX11 properly."
[code]

[2017-02-15 22:12] hvivani opened #223 "S3 File API when reading a lot of files: Error - failed: data.str() == "false" the returning list is truncated"
## Environment info

Operating System: Linux ip-172-24-234-227 4.4.35-33.55.amzn1.x86_64

Compiler:
gcc version 4.8.3 20140911
Package used (python/R/jvm/C++):
C++

xgboost version used:
0.6

If installing from source, please provide

    The commit hash (git rev-parse HEAD)
    Logs will be helpful (If logs are large, please upload as attachment).

If you are using python package, please provide

[2017-02-16 17:36] hvivani commented on #223
As far as I can see, the issue arise when listing more than 1000 objects:

With 1000 objects:

    ../filesys_test ls s3://[my-bucket]/many_files_1000/
    /many_files_1000/bspl0001.c	0	is_dir=0
...
    /many_files_1000/bspl1000.c	0	is_dir=0

With 1001 objects:

    ../filesys_test ls s3://[my-bucket]/many_files_1001/
    [17:35:21] include/dmlc/logging.h:235: [17:35:21] src/io/s3_filesys.cc:792:

[2017-02-16 19:07] hvivani commented on #223
So basically, what is happening here is:
S3 will return a MAX of 1000 objects per request.
After that limit the response will be IsTruncated == true).
But the response also includes the NextContinuationToken element, the value of which we should use in the next request as the continuation-token to list the next set of objects.
http://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

[2017-02-16 19:30] tqchen commented on #223
Yes, a patch is welcomed if you can help extend the API to deal with this case.

[2017-02-20 02:47] formath opened #226 "add parser for libfm data"
@tqchen https://github.com/dmlc/dmlc-core/pull/224

[2017-02-21 00:01] souljourner commented on #132
are you seeing `libdmlc.a` in this repo?  I am not seeing it.

[2017-02-21 04:07] #218 closed

[2017-02-22 03:24] #226 closed

[2017-02-22 05:36] muyinanhai commented on #163
Same problem. there are two files in "data" directory

include/dmlc/logging.h:208: [05:28:24] src/io/hdfs_filesys.cc:143: Check failed: files != NULL Error when ListDirectory hdfs://10.0.0.26/data
terminate called after throwing an instance of 'dmlc::Error'
  what():  [05:28:24] src/io/hdfs_filesys.cc:143: Check failed: files != NULL Error when ListDirectory hdfs://10.0.0.26/data
Aborted (core dum

[2017-02-24 07:39] nmatare commented on #184
@thengl  thanks for commenting; this was really confusing me

[2017-03-04 00:51] liusztc09 commented on #223
Hi @tqchen,

Here is a patch for the s3 paging issue. I worked with @hvivani and tested the fix with over 70000 files.

Not able to make a pull request to this repo.
Please see my personal branch:
https://github.com/liusztc09/dmlc-core-liu/pull/1/commits/5552bdcba9861017fb0b41d274d77fbd45ba73e8

[2017-03-15 16:28] tqchen opened #230 "Modernize ThreadLocal"
see https://github.com/dmlc/xgboost/issues/2109

We should consider to directly use the thread_local keyword to create object when it is supported. We used  the old way mainly for windows compatibility. But we can just double check if latest MSVC support thread local object. Specifically, if we can do with non-trivial destructor. I do not have an windows machine @sxjscience can you help check this

[2017-03-15 16:30] tqchen commented on #230
Checked things online, seems it is supported after VS2015 but not in VS2013

[2017-03-16 06:21] sxjscience commented on #230
I've tested the code in http://en.cppreference.com/w/cpp/language/storage_duration on VS2015 Community Update 3 and it works fine.
[code]
Output:
[code]

[2017-03-16 16:40] tqchen commented on #230
I see, can we define a macro to test VS version bigger than 2015?

[2017-03-16 17:31] tqchen commented on #230
I made a PR here https://github.com/dmlc/dmlc-core/pull/232

[2017-03-16 19:56] avspavan commented on #179
I have the same issue, can anyone help here?

[2017-03-20 18:48] #230 closed

[2017-04-13 03:59] cjolivier01 commented on #132
try: git submodule update --init --recursive

[2017-04-13 08:00] ericzhang-cn opened #237 "Error when running local tracker"
when execute local.py, error occurred:

  File "dmlc_tracker/local.py", line 10, in <module>
    from . import tracker
ValueError: Attempted relative import in non-package

[2017-04-20 12:28] formath opened #240 "how to upload dynamic library when using yarn"
When using dmlc-submit to launch a yarn job listed below, an error occured.
`./main.bin: error while loading shared libraries: libgflags.so.2: cannot open shared object file: No such file or directory`.
Meanwhile, dmlc local can run ok. So, when using `dmlc-submit --cluster yarn`, how to upload those dynamic libraries?
Thanks. @tqchen
[code]

[2017-04-22 16:23] #240 closed

[2017-05-05 03:37] formath opened #248 "Yarn job hangs after being submited"
@tqchen
I submit a yarn job via
[code]

But the yarn job hangs here. I have been tested in dmlc local mode and it runs ok.
[code]

The applicationMaster log looks like this. It shows all containers has been invoked. But the actually command `../bin/main.bin ./config.train.yarn` has't been started.
[code]

[2017-05-05 07:30] #248 closed

[2017-05-08 08:19] formath commented on #136
@iamvamsi Have you solved this problem?

[2017-05-08 10:33] iamvamsi commented on #136
No @formath : I haven't looked at it, after the last comment and i'll try to let you know if there is an update.

[2017-05-08 12:09] formath commented on #136
@tqchen I have also encountered this problem. Do you have any suggestions? Thanks.

[2017-05-17 16:37] ryanjoneil commented on #215
If I understand correctly, PR #254 should handle this.

[2017-05-19 06:51] formath opened #255 "yarn app waiting forever even successful"
@tqchen Tested ok. https://github.com/dmlc/dmlc-core/pull/251

[2017-05-19 21:45] weixuanfu2016 opened #256 "Error message in stdout"
From [the issue 449](https://github.com/rhiever/tpot/issues/449) in TPOT,  we found xgboost python api could print out error message in stdout. The message would not show up once we turn off stdout buffering. It should be related to the [source codes](https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L235-L247). I think it is more reasonable to redirect the error message to stde

[2017-05-20 05:29] tqchen commented on #256
stdostringstream does not print to stdout, it is the log function of customize printer that does this behavior. Since the custom logging is not error message, so xgboost chooses to log to stdout.

[2017-05-20 05:29] tqchen commented on #256
as explained it is not issue in dmlc-core, so i will close this issue

[2017-05-20 05:29] #256 closed

[2017-05-20 11:08] weixuanfu2016 commented on #256
Thank you for the explanation. Is there any way to let xgboost not log to stdout?

[2017-05-21 05:34] #255 closed

[2017-05-30 19:17] superbobry commented on #10
FYI here is a [script](https://github.com/criteo-forks/xgboost4j-jars/blob/master/install_libhdfs.sh) to build libhdfs from CDH5 on both OSX and Linux.

[2017-06-07 09:58] luolaihu opened #266 "filesys_test for hdfs failed"
ERORR:
Environment variable CLASSPATH not set!
getJNIEnv: getGlobalJNIEnv failed
[17:56:38] include/dmlc/logging.h:300: [17:56:38] src/io/hdfs_filesys.cc:95: Failed to load HDFS-configuration:

Stack trace returned 5 entries:
[bt] (0) ./filesys_test() [0x413490]
[bt] (1) ./filesys_test() [0x40563a]
[bt] (2) ./filesys_test() [0x4042b3]
[bt] (3) /lib64/libc.so.6(__libc_start_main+0xf5) [0x7f65b1458b

[2017-06-08 09:59] superbobry opened #267 "Consider migrating to libhdfs3"
I think ease of deployment enough is a good reason to drop the original libhdfs.

[2017-06-20 09:40] sswv opened #268 "MPI launcher may produce zombie process randomly when calling subprocess.Popen('mpirun')"
Hello,

When I use "launch.py --launcher=mpi" to launch applications, I found it may fail randomly. The launcher and the application will hang. In this case, a "`[mpirun] <defunct>`" record (zombie process) can be found by "ps".

After some debugging, I found the zombie mpirun is the one called by "subprocess.Popen('mpirun')" from `get_mpi_env` in tracker/dmlc_tracker/mpi.py. If this line is remov

[2017-06-21 14:48] xianbincheng opened #270 "Something wrong in json.h"
std::ostringstream os;
    ch = is_->get();
    if (ch == '\\') {
      char sch = static_cast<char>(is_->get());
      switch (sch) {
        case 'r': os << "\r"; break;
        case 'n': os << "\n"; break;
        case '\\': os << "\\"; break;
        case '\t': os << "\t"; break;
        case '\"': os << "\""; break;
        default: LOG(FATAL) << "unknown string escape \\" << sch;
      }

I

[2017-06-21 15:09] tqchen commented on #270
nice catch, do you mind submit a PR?

[2017-06-23 16:43] wesm opened #273 "Possible collaborations on IO interfaces"
hello!

We have been building a small C++11 IO subsystem in Apache Arrow (https://github.com/apache/arrow/tree/master/cpp/src/arrow/io), and we will eventually be in need of cloud storage connectors, which led me here to your implementations of S3, Azure FS, etc. We previous had discussed adopting a filesystem abstraction https://issues.apache.org/jira/browse/ARROW-767

Rather than forking or vend

[2017-06-23 16:49] wesm commented on #267
We are supporting both libhdfs and libhdfs3 in Apache Arrow's IO subsystem since they export more or less the same C API (so we can dlopen the one we want to use); I found that libhdfs3 was weaker in net throughput and especially weak in small reads

http://wesmckinney.com/blog/python-hdfs-interfaces/

Combined with the fact that libhdfs3's future is rather uncertain (see its current home at https

[2017-06-23 17:20] superbobry commented on #267
Hi @wesm, thanks for the insights. I agree that supporting both libraries might be a more sensible solution, especially given the API similarities.

Are you referring to the commit date or a something in the README? Judging just by the commit date, the official C++ HDFS client is even more stale.

[2017-06-23 17:23] tqchen commented on #273
thanks @wesm for the proposal. Arrow is a great project and there is already some talks about integrating it with some of dmlc libraries, specifically xgboost for the data exchange layer in analytics stack. I would personally love such abstraction coming to C++11

The major requirement for us is maintanace of minimum dependency and ease of installation from our user.  so in short term we could not

[2017-06-23 17:48] wesm commented on #273
When you say "minimum dependency" could you elaborate? It seems you are not requiring C++11 yet; do you imagine that will change in the future?

[2017-06-23 17:58] tqchen commented on #273
all dmlc projects are now depending on c++11, so yes we would be more than happy to embrace c++11. By minimum dependency I mainly mean minimum library dependencies, for example, dmlc-core only requires libcurl for the https request and it is optional

[2017-06-23 18:04] wesm commented on #273
Gotcha, yeah, having Boost as a requirement, for example, could be onerous for some users. We've tried to make building Arrow as painless as we can, and package managers are helping (e.g. Homebrew, conda-forge) so that building from source isn't always necessary

So maybe the simplest thing for me to do would be to fork a little bit of your file system IO code and keep open a dialog about how to s

[2017-06-23 18:16] wesm commented on #267
I linked to an umbrella JIRA in Hadoop. I would have to look more closely but it appears that is still under active development -- there are quite a few outstanding patches

[2017-06-23 19:13] tqchen commented on #273
sgtm

[2017-06-25 14:14] xianbincheng commented on #270
No,of course not,I will do it in recent days.

[2017-07-19 09:05] abraveboy opened #286 "'thread_local does not name a type'"
When I make dmlc-core, it throws 'thread_local does not name a type'.

[2017-07-28 04:30] #273 closed

[2017-07-28 04:30] tqchen commented on #286
use a compiler that supports c++11

[2017-07-31 10:02] lyq123180 opened #290 "'nullptr' was not declared in this scope"
with g++ (GCC) 6.3.0，compile the project with this error.
https://stackoverflow.com/questions/10033373/c-error-nullptr-was-not-declared-in-this-scope-in-eclipse-ide
This page says added -std=c++0x to solve this problem for nullstr is  a new characteristic of c11.
I have tried and edit the CMakeList.txt but nothing works.

[2017-08-01 18:09] khotilov commented on #290
Check in your cmake log which gcc it has actually picked up, as it might be not the 6.3.0 one.
See https://cmake.org/Wiki/CMake_FAQ#How_do_I_use_a_different_compiler.3F on the ways to make it use the right one.

[2017-08-22 04:49] Vogen opened #298 "Why don't use 'DMLC_WORKER_ID' as environment varibale?"

[2017-09-08 04:56] saswatac opened #303 "Reading files under a sub-directory in inputsplit"
Currently only the files under the input parent directory are read, it does not recursively look at the tree under the parent-
https://github.com/dmlc/dmlc-core/blob/master/src/io/input_split_base.cc#L157

Is there a reason behind this?

@piiswrong
@ptrendx

[2017-09-08 07:27] ptrendx commented on #303
I don't think there is any reason behind this other than current API (you would want to have explicit control whether you read recursively or not). Why would you want that functionality?

[2017-09-08 15:28] saswatac commented on #303
I think it may be a common use case that customers data is organized into sub-folders. I agree that if we change, it is better to have explicit control.

I have the following changes in mind-

* add a method ListDirectoryRecursive to https://github.com/dmlc/dmlc-core/blob/master/src/io/filesys.h . All the different file systems should have the same implementation of this method, so add a implement

[2017-09-08 18:50] ptrendx commented on #303
Sounds fine.

[2017-09-14 13:09] Lisz1024 opened #307 "a bug in disk_row_iter.h"
[code]
When we building a cache file, the data has been cleared before calculate num_col_. This lead to data.max_index is always 0;
So when we use a cache file, the function `NumCol()` always return 1.
@tqchen

[2017-09-15 08:52] Lisz1024 commented on #307
there is another problem, when the data's total `MemCostBytes` is less than `kPageSize`,
the program will never enter the following code block. It lead to the num_col_ is always 0.
[code]

[2017-09-15 17:09] tqchen commented on #307
can you open a PR to fix this issue? Thanks!

[2017-09-22 06:04] #307 closed

[2017-10-03 17:31] #303 closed

[2017-10-11 03:54] weberxie opened #320 "Read data from viewfs"
When read data from HDFS federation, the schema should be viewfs. dmlc-core show support this schema.

[2017-10-31 17:10] superbobry opened #323 "FieldEntry<float> on g++5.4"
While debugging dmlc/xgboost#2417 I came across a peculiar bug in `std:stof` which, when compiled on Linux with g++5.4, return 0 for `"0.5"`. Interestingly, a simple example outside of XGBoost codebase does not trigger the bug, so I suspect it is caused by some specific combination of flags... wdyt?

[code]
[code]

[2017-10-31 17:29] superbobry commented on #323
Actually, I've just tried this with g++-7.2 and the truncation is exactly the same.

[2017-11-29 18:53] tqchen commented on #323
hmm, maybe we can try other options, like std::istringstream to parse the float

[2017-11-29 18:59] tqchen opened #339 "Formally Tag Release"
This repo has been used by quite a lot of projects so far. While most of time we rely on changing hashtags in submodule which works fine, it would be great for stable release to point to specific release tags. Do we want to  do formal release on github? Given that the core feature of interest in dmlc-core(logging, json, serialization) has been stable for a while, it might make sense to do so

[2017-11-29 19:00] #7 closed

[2017-11-29 19:00] #10 closed

[2017-11-29 19:01] tqchen commented on #15
#241

[2017-11-29 19:01] #15 closed

[2017-11-29 19:01] #16 closed

[2017-11-29 19:01] #18 closed

[2017-11-29 19:01] #74 closed

[2017-11-29 19:01] #111 closed

[2017-11-29 19:01] #114 closed

[2017-11-29 19:01] #123 closed

[2017-11-29 19:01] #127 closed

[2017-11-29 19:02] #132 closed

[2017-11-29 19:02] #133 closed

[2017-11-29 19:02] tqchen commented on #136
close due to inactivity

[2017-11-29 19:02] #136 closed

[2017-11-29 19:02] #160 closed

[2017-11-29 19:03] tqchen commented on #163
you should be able to use regex for matching files

[2017-11-29 19:03] #163 closed

[2017-11-29 19:04] #178 closed

[2017-11-29 19:04] #184 closed

[2017-11-29 19:05] #198 closed

[2017-11-29 19:05] #209 closed

[2017-11-29 19:05] #214 closed

[2017-11-29 19:05] #290 closed

[2017-11-29 19:06] tqchen commented on #320
close due to inactivity, contribution is welcomed

[2017-11-29 19:06] #320 closed

[2017-11-29 19:07] #270 closed

[2017-11-29 19:07] #267 closed

[2017-11-29 19:07] #266 closed

[2017-11-29 19:08] #211 closed

[2017-11-29 19:39] AbdealiJK commented on #7
? Is this closed with no plan for support?

[2017-11-29 20:06] tqchen commented on #7
closed due to inactivity. As we are getting more issues, it is easier to close stale ones and open new ones when necessary

[2017-11-29 20:59] superbobry commented on #323
Note: I never got to check this hypothesis, but the issue could be related to locale settings.

[2017-11-29 21:49] tqchen commented on #323
ok, I recall @piiswrong mentioned the problem of parsing float in Russian locale

[2017-12-02 18:29] thirdwing commented on #323
@superbobry  I think this is really the locale problem. You can try the code below:

[code]

[code]

It seems the system locale will be used when calling C code from JVM, and the `C` locale will be used in plain C/C++ program.

[2017-12-04 22:48] cjolivier01 opened #343 "CI is broken: pip not found (see error in comments)"
0.02s$ pip install --user cpplint pylint

/Users/travis/.travis/job_stages: line 57: pip: command not found

The command "pip install --user cpplint pylint" failed and exited with 127 during .

Your build has been stopped.

/Users/travis/.travis/job_stages: line 166: shell_session_update: command not found

[2017-12-08 01:34] cjolivier01 commented on #343
Mac build only

[2017-12-17 21:50] rlantz-cfa opened #348 "Invalid RecordIO file"

[2017-12-17 21:57] #348 closed

[2017-12-17 21:57] rlantz-cfa commented on #348
Accidentally posted to the wrong repo... Apologies!

[2017-12-19 09:10] leemyoung opened #349 "how to setup --hdfs-tempdir in distributed xgboost"
when i use the default --hdfs-tempdir  /tmp，there is a exception as below:

Wrong FS: hdfs:/tmp/temp-dmlc-yarn-application_1505388730296_672073/launcher.py, expected: file:///

i try to solve the problem after google and then set --hdfs-tempdir  as hdfs://{ip}:{port}/{dir}, there is a exception as below:

Wrong FS: hdfs://hdfs:/{ip}:{port}/{dir}/temp-dmlc-yarn-application_1505388730296_672077/laun

[2017-12-20 00:29] tqchen opened #350 "[LOG] Delete backtrace symbol properly"
@larroy seems in the logging backtrace, the list of symbol is not deleted properly.

see the memory leak report in https://github.com/dmlc/tvm/issues/709

[2017-12-20 00:32] tqchen commented on #350
see also https://linux.die.net/man/3/backtrace_symbols

[2017-12-20 08:32] #349 closed

[2017-12-21 09:49] superbobry commented on #323
@thirdwing yup, this does look like one, but then I think parameter parsing should be locale independent. I doubt people would ever pass `0.5` as `0,5`.

[2017-12-21 11:32] larroy commented on #350
I will have a look, thanks

[2017-12-21 22:02] larroy commented on #350
Hi @tqchen, the symbols are freed as specified in the manpage you linked:

https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L300

Is there something else I'm missing?
Could be an artifact of the sanitizer?

[2017-12-22 09:37] tqchen commented on #350
Could it be possible we also need to free each content of the msg? Instead of the array of char ptr itselg

[2017-12-24 01:23] tqchen commented on #350
@larroy can you check if that is the reason?

[2017-12-24 12:51] larroy commented on #350
I checked, not according to the manpages that I have checked:

backtrace_symbols() attempts to transform a call stack obtained by backtrace() into an array of human-readable strings using dladdr().  The array of
     strings returned has size elements.  It is allocated using malloc() and should be released using free().  There is no need to free the individual
     strings in the array.

So either

[2017-12-24 13:43] tqchen commented on #350
OK, close this for now

[2017-12-24 13:43] #350 closed

[2017-12-24 17:08] thirdwing commented on #323
@superbobry We can also use the neutral locale for Java:

https://docs.oracle.com/javase/7/docs/api/java/util/Locale.html#ROOT

[2017-12-24 23:35] superbobry commented on #323
Do you mean forcing the locale somewhere in XGBoost code?

[2018-01-05 02:12] headupinclouds opened #353 "git release"
I didn't find a release in the repository.  To facilitate package versioning, can a project maintainer please tag an initial release for this project?  v1.0.0?

[2018-01-17 03:47] DickJC123 opened #358 "LocalFileSystem::ListDirectory() fails on directories with dangling symlinks"
ListDirectory expects to convert a directory to a vector<FileInfo>.  However, if the directory being listed contains a dangling symlink, the call fails with a fatal error 'no such file or directory'.  Normally, one would expect this to be uncommon, however emacs creates dangling symlinks as part of its file locking strategy.  Thus, a user emacs-editing a file (with a dirty buffer) would disrupt th

[2018-01-25 06:48] antant-shenzhen-2013 commented on #10
@superbobry I follow your script to compile .so files.
BUT when `dmlc-submit`, many containers show the following errors:
`
xgboost: error while loading shared libraries: libhdfs.so.0.0.0: cannot open shared object file: No such file or directory
`

any suggestion?

[2018-01-26 07:00] wenmin-wu commented on #10
@antant-shenzhen-2013 I have posted blog on CSDN  about how to deploy xgboost on yarn, you can follow it step by step. The blog link is http://blog.csdn.net/u010306433/article/details/51403894

[2018-01-29 03:18] antant-shenzhen-2013 commented on #10
@wenmin-wu I would try it

[2018-02-08 06:36] threeleafzerg opened #364 "MXNet MultiNode: when using ssh launcher, ps-lite will use wrong ip even if we specify correct ip in hosts"
Hi,
I encountered the issue when train MXNet multinode.
This is my host file:
192.168.20.84
192.168.20.85
192.168.20.86
192.168.20.87
192.168.20.88
This is my running command:
python tools/launch.py -n 4 -s 1 --launcher ssh -H hosts python example/image-classification/train_tinyimagenet.py --kv-store dist_sync
However, my ps-lite log shows:
[09:28:57] src/van.cc:56: assign rank=9 to node role=work

[2018-02-08 07:37] threeleafzerg commented on #364
@pengzhao-intel

[2018-02-13 09:08] albanjiang opened #365 "problem with structure inheritance"
Does dmlc::Parameter support structure inheritance as follow ?
struct a  : public dmlc::Parameter<a> {
   int val0;
  DMLC_DECLARE_PARAMETER(a) {
    DMLC_DECLARE_FIELD(val0);
  }
}
struct b  : public dmlc::Parameter<b> {
   int val1;
  a val2;
  DMLC_DECLARE_PARAMETER(a) {
    DMLC_DECLARE_FIELD(val0);
    DMLC_DECLARE_FIELD(val2);
  }
}

[2018-02-13 17:03] tqchen commented on #365
NO, I don't think it support such case, all parameters need to be declared in the final child

[2018-02-13 17:03] #365 closed

[2018-02-22 04:47] pengzhao-intel commented on #364
@tqchen Could you help take a view on this issue?

@threeleafzerg I think you can make a PR first :)

**Background of why we care about this?**

Intel provides the great solution to scale the DL training into a large number of nodes.
We have built it with Intel Caff and achieved very impressive results, [link hrer.](https://blog.surf.nl/en/imagenet-1k-training-on-intel-xeon-phi-in-less-than-40-min

[2018-02-22 19:29] hdemers commented on #223
I'm very interested in seeing this patch being merged in. @liusztc09 would you be able to make a pull request to this repo now?

[2018-02-26 05:30] albanjiang opened #371 "How to use dmlc::optional<self defined struct> in dmlc::Parameter?"
I use struct definition like follow,

struct BlobProto : public dmlc::Parameter<BlobProto>{
  dmlc::optional<TShape> sShape;
  nnvm::Tuple<dmlc::optional<float>>  tupfData;
  nnvm::Tuple<dmlc::optional<float>>  tupfDiff;
  DMLC_DECLARE_PARAMETER(BlobProto) {
    DMLC_DECLARE_FIELD(sShape)
      .set_default(dmlc::optional<TShape>());
    DMLC_DECLARE_FIELD(tupfData)
      .set_default(nnvm::Tuple<

[2018-02-26 23:24] anirudh2290 opened #372 "UTF-8 Support for TextParser"
Currently there is no UTF-8 Support for LibSVM, LibFM or CSV Text parsers. I am currently working on adding UTF-8 support for Text parsers. Since C++ doesnt have great built-in support for UTF-8, I am looking at third-party libraries which provide which provide Unicode support. I am considering ICU currently. Any comments, suggestions, past experience, gotchas about unicode third party libraries o

[2018-02-27 05:31] albanjiang commented on #371
I add seralization and deseralization function, it could be compiled. Does it exist a formal way to make it work ?
struct BlobProto : public dmlc::Parameter{
dmlc::optional sShape;
nnvm::Tuple<dmlc::optional< float >> tupfData;
nnvm::Tuple<dmlc::optional< float >> tupfDiff;
DMLC_DECLARE_PARAMETER(BlobProto) {
DMLC_DECLARE_FIELD(sShape)
.set_default(dmlc::optional< TShape >());
DMLC_DECLARE_FIELD(t

[2018-02-27 18:57] szha commented on #182
IMO the JSONWriter shouldn't handle indentation in default setting. The size would be smaller.

[2018-04-16 06:21] szha opened #390 "filesys path should support non-ascii characters"
User reported issue: https://discuss.gluon.ai/t/topic/5797/4

[2018-04-16 18:48] szha commented on #390
Fixed by #391

[2018-04-16 18:48] #390 closed

[2018-04-16 19:06] hcho3 opened #392 "`unittest_gtest` fails for Mac OSX on Travis CI"
`unittest_gtest`appears to fail for OSX on Travis CI: https://travis-ci.org/dmlc/dmlc-core/builds/366358905

The failure occurs when `scripts/travis/travis_osx_install.sh` executes the step `sudo easy_install pip`:
[code]

Updating OpenSSL may fix this issue.
TODO. write a PR to update OpenSSL.

[2018-04-17 05:43] #392 closed

[2018-04-19 23:28] haojin2 opened #394 "Inclusion of "unistd.h" is causing build failure on Windows"
I've updated to use the latest version of dmlc-core in mxnet, but my build on windows is failing due to usage of "unistd.h" in unittest_inputsplit.cc which was added in #389: http://jenkins.mxnet-ci.amazon-ml.com/blue/organizations/jenkins/incubator-mxnet/detail/PR-10533/9/pipeline. @hcho3 Would you please take a look?

[2018-04-20 01:11] hcho3 commented on #394
@haojin2 Oops, my bad. I didn't realize that you had to build the unit tests in dmlc-core to build MXNet. I will have to implement `TemporaryDirectory` in Windows API.

[2018-04-20 19:53] hcho3 commented on #394
I went ahead and make the unit test compatible with Windows.

[2018-04-24 22:46] #394 closed

[2018-05-23 21:11] ArmageddonKnight opened #403 "cuh file checking in scripts/lint.py"
Hi there,

Could you please add `cuh` file in the following line: https://github.com/dmlc/dmlc-core/blob/dadcd97fdceb5f395e963b2a637f6ed377f59fc4/scripts/lint.py#L17

Thank you.

[2018-05-24 22:29] xcgoner opened #404 "typo in mpi tracker"
In  dmlc-core/tracker/dmlc_tracker/mpi.py line 24
"--verion" should be "--version"
The current patch always report "Unknown MPI Version"

Furthermore, the version info of openmpi is no longer in the stderr. It should be stdout.
It should be fixed like this (only checked openmpi, mpich is not checked, so I left it unchanged):

(stdout, stderr) = subprocess.Popen(['mpirun','--verion'],

[2018-05-25 10:50] moveforever opened #405 "data type of label is DType? it should be real_t?"
[code]
@eric-haibin-lin

[2018-06-05 20:27] xcgoner commented on #404
#407

[2018-06-05 20:27] #404 closed

[2018-06-06 15:53] #223 closed

[2018-06-06 21:50] precedenceguo commented on #403
Also found this. 10 .cuh files in MXNet may fail lint.

[2018-06-21 03:42] matricer opened #414 "RowBlock.size seems to be more than the size that RowBlock actually holds"
I slightly modifies ${dmlc-core-home}/test/dataiter_test.cc to read a file on HDFS (with **multiple parts** and format of libsvm) and write it to a local file.

[code]

After compiling, run the command below
./dataiter_test "hdfs:///data/libsvm/avazu/app/valid" 0 7

the last few lines of "file-part" are:
0.000000 10165 156287 233713 301965 358076 410371 439055 534902 536024 556985 565840 595002 78

[2018-06-27 17:01] eric-haibin-lin commented on #405
Do you mean you want a different DType for label?

[2018-06-30 20:14] #364 closed

[2018-07-03 16:59] arzt commented on #323
I solved the issue by setting environment variable `LC_NUMERIC=C` before starting the JVM. Any English locale also works fine.

[2018-07-03 17:45] hcho3 commented on #323
We should consider merging #351 so that parameters are parsed in locale-independent manner.

[2018-07-06 23:21] thvasilo opened #421 "S3 configuration problematic for EMR"
Hello,

I'm trying to get xgboost distributed training to work on EMR using S3 as a source but I'm having some issues with dmlc-core.

In [this](https://github.com/dmlc/dmlc-core/blob/master/src/io/s3_filesys.cc#L1172) line the code expects the env variable `S3_REGION` to be set otherwise it defaults to us-east-1. In EMR deployed workers this env variable is not set.

Is there some way to provide

[2018-07-10 22:10] thvasilo commented on #421
Answering this, we can set env variables through the dmlc submit argument `--env` so an example command would be:

[code]

This solves the problem.

[2018-07-10 22:10] #421 closed

[2018-07-17 08:40] cclauss commented on #339
Agreed.  https://github.com/dmlc/dmlc-core/releases is empty :-(

[2018-07-17 16:18] tqchen commented on #339
Thanks @cclauss for the reminder, I have tagged the initial version as 0.3. We will start with a formal release cycle from now on

[2018-07-17 16:18] #339 closed

[2018-07-17 16:19] tqchen commented on #339
cc @hcho3

[2018-07-31 08:45] #353 closed

[2018-07-31 08:45] hcho3 commented on #353
See https://github.com/dmlc/dmlc-core/releases.

[2018-07-31 08:47] hcho3 opened #440 "Inaccurate float parsing by dmlc::data::strtof() / dmlc::data::atof()"
DMLC-Core implements its own version of strtof() / atof(), and they exhibit low accuracy for long float literals with high number of digits.

**Re-production of issue**
1. Create a file named `test.cc` with following content:
[code]

2. Compile `test.cc`:
[code]

3. Run `test` with a variety of float literals:
[code]

Output:
[code]

**Diagnosis**. Excessive number of digits cause overflow in loca

[2018-07-31 08:53] hcho3 commented on #440
Note that all text parsers (LIBSVM, LIBFM, CSV) depend on dmlc::data::strtof() one way or another.

[2018-07-31 20:29] #440 closed

[2018-08-07 08:57] RAMitchell opened #446 "Upgrading array view to span"
@trivialfis has a PR here https://github.com/dmlc/xgboost/pull/3548 implementing the span class from the cpp core guidelines and the c++20 draft. Ideally we would replace the dmlc-core array_view class with this but dmlc-core currently has no cuda continuous integration testing, which is critical to our implementation. This issue is a placeholder for possibly implementing this in dmlc-core in the

[2018-08-09 03:45] jzp1025 opened #447 "kubernetes tracker meeting Empty domain"
Hi ! I'm trying to use dmlc-submit to submit a kubernetes job , and i meet the bug following:

----
To check each log, try 'kubectl logs job/{{role}}-{{jobname}}-{{workerID}}'
Traceback (most recent call last):
  File "./dmlc-submit", line 9, in <module>
    submit.main()
  File "/home/tusimple/incubator-mxnet/3rdparty/dmlc-core/tracker/dmlc_tracker/submit.py", line 54, in main
    kubernetes.subm

[2018-08-10 06:06] TccccD opened #448 "The connection timeout"
When the network is disconnected, the server will reconnect after ten minutes, but select() always returns the connection timeout.
The select() is in s3_filesys.cc CURLReadStreamBase::FillBuffer().
@rahul003 @tqchen thanks!

[2018-08-10 07:19] TccccD commented on #448
My solution is to increase the sleep time of Re-establishing connection to Amazon S3, and in rc = select(), when rc is equal to 0, count retry++. If retry is greater than a threshold, report an error and enter Re-establishing connection.

[2018-08-13 02:49] TccccD commented on #448
If finish reading a batch of data and then train for a longer time, it will get an error:
**"request failed with error Transferred a partial file"**
Why is this happening?
@rahul003 @tqchen

[2018-08-20 20:43] thvasilo opened #451 "Using rbait in conjunction with PS"
Hello,

As it stands, dmlc-core can only launch either a rabit tracker or a PS.

For an experimental project I'm working I'd like to be able to do some communication over rabit (much easier to use) and some over PS (flexible programming model).

So I'm wondering if it's technically possible to have both running at the same time, and how much effort would it involve to change this exclusive assumpt

[2018-09-17 17:55] KOLANICH opened #456 "usleep is not available on Windows"
https://github.com/dmlc/dmlc-core/blob/649be18a8c55c48517861d67158a45dec54992ee/test/unittest/unittest_thread_group.cc#L32

`usleep` is used. It is not available (in fact, it is, see https://github.com/KOLANICH/nixShims4Windows/blob/master/src/time.c#L2 , it uses the undocumented function) on Windows.

You have an own shim, but it is enabled only for MSVC
https://github.com/dmlc/dmlc-core/blob/649

[2018-10-01 17:02] doctaweeks opened #457 "Normalized build for MinGW-w64 breaks build on Linux"
Building at 946a54012d0c390675ab5b46cd990838d4183d6f fails on Linux. Build is successful immediately prior to this commit.

[code]

[2018-10-01 17:18] hcho3 commented on #457
Are you using CMake or Makefile? Which compiler are you using? What is your Linux distribution?

[2018-10-01 17:27] hcho3 commented on #457
CMake is supposed to generate the header `dmlc/build_config.h`. Can you post it?

[2018-10-01 17:30] doctaweeks commented on #457
[code]

[2018-10-01 17:33] hcho3 commented on #457
What is at line 257 of `/usr/include/stdio.h`? Does that line define `fopen64()`?

[2018-10-01 17:35] doctaweeks commented on #457
[code]

[2018-10-01 17:38] doctaweeks commented on #457
It doesn't look like _LARGEFILE64_SOURCE is getting defined anywhere... If it was __USE_LARGEFILE64 would get defined from /usr/include/features.h

[2018-10-01 17:44] hcho3 commented on #457
This line in CMakeLists.txt is supposed to detect whether `fopen64` is defined in `stdio.h`:
https://github.com/dmlc/dmlc-core/blob/946a54012d0c390675ab5b46cd990838d4183d6f/CMakeLists.txt#L64

For some reason, the `stdio.h` header in your system defines `fopen64` but CMake is not detecting it. Could it be that macro `__USE_LARGEFILE64` is not defined?

[2018-10-01 17:46] doctaweeks commented on #457
Yes, see my previous comment. Source/build system should define _LARGEFILE64_SOURCE

[2018-10-01 18:06] hcho3 commented on #457
Got it. The problem is that `dmlc/build_config.h` is being `#include`d before `stdio.h`, so the unused declaration of `fopen64` is being replaced with `std::fopen`. The solution is to `#include` the header `dmlc/build_config.h` later so that its macro does not affect the content of `stdio.h`.

[2018-10-01 18:12] hcho3 commented on #457
Also, let me try to re-produce the issue on my end so that I can add a CI test.

[2018-10-01 19:43] hcho3 commented on #456
Changing `#if defined(_MSC_VER)` to `#if defined(_WIN32)` should solve the problem.

[2018-10-01 19:59] hcho3 commented on #457
#457 should fix this.

[2018-10-01 21:19] KOLANICH commented on #456
Why not just use sleep requiring time in milliseconds?

[2018-10-01 22:41] hcho3 commented on #456
Isn't Sleep specific to Windows?

[2018-10-01 22:43] hcho3 commented on #456
Since dmlc-core has to support multiple OSses, we have no choice but to have shims for OS-specific functions, such as sleep functions.

[2018-10-01 22:55] doctaweeks commented on #457
Build completes from 1b28779801f9e85bb0eb6feae95be1d8360ddc1b with #458 applied.

[2018-10-01 23:09] hcho3 commented on #457
@doctaweeks Thanks for letting us know, and thanks for your report. I will go ahead and merge #458.

[2018-10-02 09:14] KOLANICH commented on #456
can we use `std::this_thread::sleep_for`?

[2018-10-02 17:55] hcho3 commented on #456
Yes, we can, but see our policy regarding the use of C++11 (from front page):

So we'll still need a shim for users of C++98 / C++0x.

[2018-10-06 02:16] navidR opened #460 "There should be exportation of include directories in CMake file."
After [this line ](https://github.com/dmlc/dmlc-core/blob/master/CMakeLists.txt#L153) there should be a line along this line :

[code]

FYI this is a temporary fix. A better solution would be only using target_include_directories instead of include_directories. I am willing to send a small patch to fix CMake files if you are willing to accept patches.

[2018-10-07 02:59] hcho3 commented on #460
@navidR

Can you describe what kind of problems arise because we don't have `target_include_directories` currently?

[2018-10-07 06:01] navidR commented on #460
You are using include_directories. There are a bunch of problems with this.

First of all, in my case, I am using dmlc-core as a subdirectory in my cmake project. So when you don't use `target_include_directories`,  when I do `target_link_libraries(${my_project} PRIVATE dmlc)` then include include directories of dlmc-core does not get included automatically. Which makes a pain in the back.

Second

[2018-10-07 06:28] hcho3 commented on #460
Sure, ability to automatically locate dmlc-core headers sounds nice. You should submit a pull request so that me and other maintainers can review it.

Some considerations:
* There are several projects that uses dmlc-core, such as [apache/incubator-mxnet](https://github.com/apache/incubator-mxnet) and [dmlc/xgboost](https://github.com/dmlc/xgboost). I don't think they follow what you call "Modern C

[2018-10-07 06:35] hcho3 opened #461 "TODO: merge or close old pull requests"
Some of the outstanding pull requests are more than 90 days old. They should be either merged or closed.

[2018-10-07 06:48] hcho3 commented on #456
#462 should fix this.

[2018-10-07 06:49] hcho3 commented on #372
Closing this, as apache/incubator-mxnet#9891 has been closed.

[2018-10-07 06:49] #372 closed

[2018-10-07 06:53] #343 closed

[2018-10-07 06:53] hcho3 commented on #343
Travis CI has been fixed.

[2018-10-07 07:09] navidR commented on #460
About the first point, sure. I understand how painful it is to rewrite portions of your build tools. So I will keep it 100% compatible.

About the second point, we all can agree CMake has become the defacto build system for C++ (particularly modern C++ libraries. Even boost is in process of migrating their build system to CMake). But the problem is CMake initial design had some serious flows. They

[2018-10-07 08:16] navidR commented on #460
1) As far as I know, most newly written C++ libraries emphasize Modern CMake.

2) Yes, although I didn't read the link but after looking at its source code that is the general idea.

[2018-10-07 09:02] hcho3 commented on #414
I think dmlc/dmlc-core#452 fixes this. If the problem persists, feel free to re-open this issue.

[2018-10-07 09:02] #414 closed

[2018-10-07 09:05] hcho3 commented on #237
`local.py` is not meant to be run directly. You should run it through `dmlc-submit`:
[code]

[2018-10-07 09:05] #237 closed

[2018-10-07 09:10] #182 closed

[2018-10-07 09:14] hcho3 commented on #208
#346 should solve this issue.

[2018-10-07 09:14] #208 closed

[2018-10-25 09:10] #358 closed

[2018-10-26 02:18] #323 closed

[2018-10-27 21:14] hcho3 commented on #460
@navidR I'd like to bring CMakeLists.txt up to modern standards and submit a pull request. Would you be willing to review it?

[2018-10-29 16:35] navidR commented on #460
Yes of course. Sadly I am so busy right now to write it myself (Although I am definitely going to write it). But I would definitely read & review it.

[2018-11-06 17:31] KOLANICH opened #478 "Fixes recently introduced error with _create_locale and msvcrt"
<details>
<summary>The patch</summary>

[code]
</details>

[2018-11-06 17:45] hcho3 commented on #478
Can you describe what kind of error you were getting? Currently, we have set up testing for MinGW and Cygwin: https://github.com/dmlc/dmlc-core/blob/master/appveyor.yml

This repository is licensed under Apache 2.0, and we follow [Apache Foundation's policy](https://www.apache.org/legal/resolved.html#what-can-we-include-in-an-asf-project-category-a) when it comes to merging code with different lic

[2018-11-06 18:13] KOLANICH commented on #478
The error appear only on Windows 7. msvcrt.dll on W7 doesn't have _create_locale and _free_locale.

Unlicense is just a public domain with a disclaimer and an message against copyright. So you are free to relicense when merging.

[2018-11-06 18:18] hcho3 commented on #478
Then how come does CMake get past this feature check?

https://github.com/dmlc/dmlc-core/blob/a0b11abc037d709b8b59a315fcebc7d8ef5b4adc/CMakeLists.txt#L84

Okay, so you won't mind if I open a PR on your behalf? I will have remove the licensing notice, thus relicensing your code under Apache 2.0.

[2018-11-06 18:31] KOLANICH commented on #478
It checks only compilation. The error is in runtime and MinGW links not directly to the dll in system, but via own ar file in own folder.

Completely OK, that's why it was put in public domain - to create no licensing problems nowhere.

[2018-11-06 22:39] hcho3 commented on #478
@KOLANICH I just looked at your patch and had strong feeling that it may be better to remove `_create_locale` and `_free_locale`. I introduced these functions for locale-independent float parsing, but it appears that they cause more headaches than benefits. DMLC-Core already has its [own implementation of `strtof()`](https://github.com/dmlc/dmlc-core/blob/f2afdc7788ee8ed6fd06cc095b6838d4ce61bb5a/s

[2018-11-06 22:39] hcho3 commented on #478
@KOLANICH Would you be happy if `_create_locale` and `_free_locale` are removed?

[2018-11-07 06:35] KOLANICH commented on #478
In fact I'm not sure: this is a long lasting bug in MinGW and it must be fixed, but the devs have chosen to use Sourceforge using reCAPTCHA as hosting and bug tracker. I have tried to sign up there to report the bug (strangely it seems like it is not already reported), but reCaptcha doesn't pass me even after solving 20 screens of buses and road signs.

Yes, they do, but Mozilla and TorProject hav

[2018-11-07 07:01] hcho3 commented on #478
I'm just worried that all projects depending on dmlc-core would be affected by this issue. The locale functions don't seem to be worth the trouble, since they are just used for float parsing.

[2018-11-07 07:59] KOLANICH commented on #478
They definitely will if they used anything dependent on dmlc-core as a static lib. For TorProject and Mozilla it is not an issue - they build end product and they build everything themselves.

[2018-11-07 08:07] hcho3 commented on #478
Yes I know at least two projects that use dmlc-core as static lib: apache/incubator-mxnet and dmlc/xgboost

[2018-11-07 18:57] KOLANICH commented on #478
So, are we disabling locale-aware parsing for MinGW, or are we using the workaround, or are we doing both: disable it by default, allow to enable via a CMake cache variable and if it is enabled - use workaround?

[2018-11-07 21:18] hcho3 commented on #478
No, I am working on implementing locale-independent parsing from scratch.

[2018-11-12 22:46] #478 closed

[2019-02-13 22:58] ptrendx opened #503 "Change to Parameter handling breaks MXNet tests"
PR #481 introduced a change that broke handling of inf/nan in parameters. This breaks a few MXNet's unittests, which attempt to assign `np.inf` and `np.nan` to an element in NDArray. This results in a following error
[code]

@eric-haibin-lin @hcho3

[2019-02-14 07:42] chenqin commented on #14
will take a look

[2019-02-21 20:14] hcho3 opened #505 "Threaded CSV Parser is not thread-safe"
Minimal example:
[code]
Content of `data.txt`: [data.txt](https://github.com/dmlc/dmlc-core/files/2891081/data.txt)

Compile the example with `g++ -g -O0 -fsanitize=thread -o example example.cc ./dmlc-core/lib/libdmlc.a -I./dmlc-core/include -lpthread -lgomp`. The Thread Sanitizer detects data races when `OMP_NUM_THREADS` is set to 2 or higher:
[code]

[2019-02-21 20:51] hcho3 commented on #505
TODO: add a sanitizer test to the continuous integration pipeline.

[2019-02-21 22:21] hcho3 commented on #505
Update: replacing
[code]
with
[code]
eliminates the data race. So somehow multiple threads are trying to free the same object at the same time.

[2019-02-22 03:33] hcho3 commented on #505
I got much better diagnostics from Thread Sanitizer, after compiling `libdmlc.a` with `-fsanitize=thread`:

[code]

[2019-03-03 00:16] szha opened #507 "mxnet-stable diverges from master"
@hcho3 https://github.com/dmlc/dmlc-core/compare/master...mxnet-stable?expand=1
#503 needs to be fixed after which we should address the divergence.

[2019-03-03 00:32] hcho3 commented on #507
@szha Agreed.

[2019-03-03 03:54] #503 closed

[2019-03-11 03:03] liubinbin1 opened #515 "thread local storage"
Static thread local storage does not support winxp，Can we use dynamic  thread local storage

[2019-03-11 03:08] hcho3 commented on #515
Feel free to open a pull request

[2019-03-11 03:15] liubinbin1 commented on #515
I have modified it,Can I submit it?

[2019-03-11 03:58] hcho3 commented on #515
Yes

[2019-03-11 06:33] #515 closed

[2019-03-18 18:29] ptrendx commented on #507
Hi @szha and @hcho3, what is the status of this?

[2019-03-19 00:17] #505 closed

[2019-03-19 00:19] hcho3 commented on #507
@ptrendx Seeking resolution this week

[2019-04-10 16:07] UranusZS opened #522 "Does parser"

[2019-04-30 18:16] hcho3 commented on #460
Resolved by #495

[2019-04-30 18:16] #460 closed

[2019-04-30 18:19] hcho3 commented on #507
MXNet now points to the latest master of dmlc-core, thanks to apache/incubator-mxnet#14510

[2019-04-30 18:19] #507 closed

[2019-06-05 18:30] timkpaine opened #534 "Bug: Don't clobber CMAKE_C*_FLAGS from environment"
This line and any similar ones should respect existing flags and append to them rather than clobbering.

https://github.com/dmlc/dmlc-core/blob/master/CMakeLists.txt#L127

[2019-06-07 17:28] #534 closed

[2019-06-19 18:25] ericangelokim opened #538 "yarn-submit.py not runnable using python3"
Popen().communicate() returns a binary, but the line here tries to split using a str, causing a failure when run with python3.

https://github.com/dmlc/dmlc-core/blob/3943914eed66470bd010df581e29e4dca4f7df6f/tracker/dmlc_tracker/yarn.py#L48

[2019-06-20 21:48] ericaws commented on #538
This code works in Python3 as long as the encoding is set to ```'utf-8'```:

```out = out.decode().split('\n')[0].split()```

[2019-06-20 21:57] hcho3 commented on #538
@ericaws Can you submit a pull request?

[2019-06-20 21:59] ericaws commented on #538
I need to add some more code to make this both py2 and py3 compatible

[2019-08-01 02:09] hcho3 opened #550 "Fix memory error in unit test ThreadedIter.dmlc_exception"
[ RUN      ] ThreadedIter.dmlc_exception
dmlc_unittest(63607,0x7fffb7c29380) malloc: *** error for object 0x7fff7f4e6770: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug

I suspect this is a race condition because it happens only once in a while.

[2019-08-01 20:54] hcho3 opened #552 "Add CMake option to use dynamic HDFS lib"
See https://github.com/dmlc/dmlc-core/pull/262#issuecomment-513555466

cc @byronyi @superbobry

[2019-08-01 21:56] hcho3 commented on #550
Indeed, we have data races in dmlc::ThreadedIter. I compiled dmlc-core with Thread Sanitizer and got the following error:

[code]

[2019-08-01 21:57] hcho3 commented on #550
Also, `dmlc::ThreadedIter` is not exception safe. Upon receiving an exception, it leaks a thread:
[code]

[2019-08-01 22:05] hcho3 opened #553 "Perform thorough audit to address concurrency problems"
When I compiled dmlc-core with Thread Sanitizer, I got a **massive heap** of concurrency errors:
[log.txt](https://github.com/dmlc/dmlc-core/files/3458811/log.txt).

This is bad news: multi-threaded code in dmlc-core (threaded iterator, thread groups, concurrent queues etc) have concurrency issues such as data races.

Related: dmlc/dmlc-core#550, dmlc/dmlc-core#505

cc @trivialfis

[2019-08-01 22:19] hcho3 commented on #553
Excellent resource: [C++ Concurrency in Action](https://www.amazon.com/dp/1617294691/ref=cm_sw_em_r_mt_dp_U_Jv2qDbG0A2SPK)

[2019-08-01 22:32] hcho3 commented on #553
Potential deadlock in lock-free queue:
[code]

[2019-08-02 01:22] hcho3 commented on #553
#554 fixes #550 and in addition adds CMake option to compile with Sanitizer.

[2019-08-06 03:32] hcho3 opened #555 "Add "num_column" option for LIBSVM parser"
Currently, the number of columns (features) is inferred when parsing a LIBSVM file. In distributed setting, a host may infer an incorrect number if its portion of data (shard) lacks the last feature. For example, if we have two hosts with the following data shards, the second host will infer wrong number of columns:

Host 1 (infers `num_column=2`)
[code]

Host 2 (infers **`num_column=1`**)
[code]

[2019-08-13 23:05] #550 closed

[2019-09-08 05:09] hcho3 opened #561 "CI tests are failing for dmlc_exception and std_exception"
Failure may be related to concurrency issue, or not. I need to dive deep and make a diagnosis.

[2019-09-24 13:34] thvasilo commented on #538
Running into this issue too when trying to submit XGBoost jobs, especially since the scripts were changed to use python3 by default in https://github.com/dmlc/dmlc-core/pull/525 (ping @chenqin).

I'm wondering if this would make all yarn submissions to break atm, that's definitely my experience. I'll also note that AWS EMR clusters use an AMI that defaults to python2.7 further complicating things.

[2019-09-24 16:05] chenqin commented on #538
upgrade to python3 as alternative to thread bug in python2, if we can have quick fix, we can fix forward .
otherwise we could revert change to python2 and pick https://github.com/dmlc/dmlc-core/pull/524/ instead?

@hcho3 @thvasilo

[2019-09-24 16:17] thvasilo commented on #538
I'm under the impression that this is a Python 3 bug, the code works in 2.7
IIRC.
I'm all for phasing out any Python 2.7 code ASAP, but I assume that would
require an RFC.

Regards,
Theodore

--
Sent from a mobile device. May contain autocorrect errors.

On Tue, Sep 24, 2019, 18:05 Chen Qin <notifications@github.com> wrote:

[2019-09-24 19:21] hcho3 commented on #538
Is it possible to use Python 3 in AWS EMR?

[2019-09-24 20:10] thvasilo commented on #538
Yup, that's what I'm doing (I think, it's kinda hard to tell what gets
called where and how) . If I'm not mistaken however this bug is a Python 3
bug.

--
Sent from a mobile device. May contain autocorrect errors.

On Tue, Sep 24, 2019, 21:21 Philip Hyunsu Cho <notifications@github.com>
wrote:

[2019-09-24 20:26] hcho3 commented on #538
I think we should revise the YARN tracker to be compatible with Python 3, now that `dmlc-submit` is using Python 3.

[2019-09-24 20:29] ericangelokim commented on #538
This can (hackily) be done by checking python version at the beginning of file, and using different API calls throughout the module.

[2019-09-24 20:41] hcho3 commented on #538
@ericangelokim Let me submit a pull request to revise `yarn.py`. Also, I'll post an RFC to retire Python 2 support.

[2019-09-24 20:56] hcho3 opened #565 "[RFC] Drop support for Python 2.x"
Python 2.x is reaching end-of-life on December 31, 2019. Many projects, including [dmlc/xgboost](https://github.com/dmlc/xgboost) and [apache/incubator-mxnet](https://github.com/apache/incubator-mxnet) have decided to drop support for Python 2. See https://python3statement.org/

[2019-09-25 03:52] trivialfis commented on #565
+1

[2019-09-25 22:04] szha commented on #565
MXNet will drop python2 support in the next major version (2.0), so it would be great if dmlc-core can support it until then. Alternatively, dmlc-core can start a new major version in a new branch, while keeping the old branch with python2 support, so that fixes can be ported back to older version.

[2019-09-26 01:01] hcho3 commented on #565
@szha Okay, let's keep this RFC open until MXNet 2.0 is released.

[2019-09-26 16:42] hcho3 opened #568 "Set up integration tests with downstream projects (MXNet, XGBoost)"
It would be nice if every change to dmlc-core is tested against two important downstream projects, XGBoost and MXNet. Let's see if I can get resource for this.

[2019-09-30 14:22] hcho3 opened #570 "Fix core dump in sanitizer_test"
https://travis-ci.org/dmlc/dmlc-core/jobs/591522800#L846

[2019-09-30 18:28] trivialfis commented on #570
Seems it appears at the very beginning so no test has been run at all?

[2019-09-30 20:25] hcho3 commented on #570
@trivialfis It looks like the executable crashes upon loading. Maybe we should try Azure Pipelines instead of Travis CI?

[2019-10-03 00:53] anirudh2290 opened #571 "ThreadLocalStore not thread safe ?"
MXNet heavily uses ThreadLocalStore to keep the C APIs thread safe. I observed that ThreadLocalStore itself has thread safety issues probably because of gcc bug with thread_local ( https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60673, https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81880  ) .

Please see the below minimal reproducible step:

[code]

If you look at the printed value for BeginPtr(ret->a)

[2019-10-07 10:12] thvasilo opened #572 "Restore slurm tracker?"
There exists code for using the SLURM scheduler as a tracker for distributed training, but it was removed as an option from `submit.py` some time ago.

Lately I've been training XGBoost using an MPI cluster and while I haven't been able to get the `mpi` tracker to work, re-instating the SLURM tracker seems to work, after I made some changes to the command being called.

So would the community cons

[2019-10-18 03:03] anirudh2290 commented on #571
This may not specifically be an issue with thread safety, but because of the difference in the behavior of destructor between the two thread local implementations. Projects like MXNet depend on the lifetime of the thread_local data extending beyond the threads lifetime. I have opened a PR for dependent projects to choose the implementation: https://github.com/dmlc/dmlc-core/pull/573

[2019-10-18 03:03] #571 closed

[2019-10-24 18:08] #538 closed

[2019-10-25 01:11] jakirkham opened #576 "Warning: Redefining fopen64 with std::fopen"
Am seeing the following warning when building xgboost on Linux and macOS. It seems to be pointing to dmlc-core. So am raising here. Appears there is an issue where `fopen64` is being redefined with `std::fopen`. Build logs linked below as well in case they are of interest.

[code]

ref: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=84089

[2019-10-25 06:26] hcho3 commented on #576
@jakirkham This is expected, since you are using 64-bit systems. Some 32-bit systems define fopen64() and fopen() separately, whereas in 64-bit systems, fopen64() is an alias of fopen().

[2019-10-30 04:36] PayneJoe opened #578 "Extending new filesystem IO APIs"
How can we extend new filesystem IO APIs, such as obs(huawei), except for azure and s3? Any suggestions about that? Or, other KPIs are on the way?

Thanks,

[2019-11-09 12:58] PayneJoe opened #580 "need to have DMLC_JOB_CLUSTER?"
example:
`./tracker/dmlc-submit --jobname fm_feed --cluster yarn ...
`
cluster variable already specified ,why this error still happens in tracker.py ?

`    assert cluster is not None, 'need to have DMLC_JOB_CLUSTER'
AssertionError: need to have DMLC_JOB_CLUSTER`

By the way, I use the python2

[2019-11-12 00:42] merleyc opened #581 "How to make sure the number of workes per core are being used?"
I am using dmlc-submit to submit the job like this:
_./dmlc-core/tracker/dmlc-submit --cluster=local--num-workers=X **--worker-cores=Y** python myscript.py_
But when I change only the Y variable, the runtime difference does not change as I expected.
I didn't find under dmlc-core code where --worker-cores is being used. Any idea?
Also, given I am using a python script, how do I track the details of

[2019-11-20 14:17] StevenShi-23 commented on #581
@merleyc Hi, the CPU utilization rate reported by `top` on a multi-core machine can be more than 100%, because it represents the workload ratio over a *single core*. i.e., if you have two cores running at 80%, it will report 160%. You may check [this](https://superuser.com/questions/575202/understanding-top-command-in-unix/575330#575330) out for a more detailed explaination.

If you did not observ

[2020-02-01 02:37] Tesla9999 opened #594 "how to set xgb label column index for csv file on s3?"
I am trying to read csv files on s3, need to set the train data label column index, for example run '../xgboot mushroom.aws.conf',  in the xgb conf file:
data='s3://bucket/file_name.csv?format=csv&label_column=0'
The '&label_column=0' is giving me trouble, '?format=csv' is working fine and '?format=csv&label_column=0' works for local file.
the error message is:

terminate called after throwing an

[2020-03-03 19:12] szha opened #597 "[RFC] Enforce CI status checks for master branch"
Hi,

There have been repeated issues in the CI status for the dmlc-core. I propose that we enforce CI status checks for merging to the master branch as best effort to prevent such issues.

-sz

[2020-03-06 20:46] leezu commented on #576
@hcho3 why then print the warning? If this is standard practice, no need to print an extra warning https://github.com/dmlc/dmlc-core/blob/c8f7f9c81dfcf2489d3bbc6d3b2a9200a20fbcde/src/build_config.cc#L10-L16

If not, why do it?

[2020-03-06 22:14] hcho3 commented on #576
@leezu I didn't add the warning. The warning was added by dmlc/dmlc-core#432.

[2020-03-06 23:01] leezu commented on #576
Ok. I suggest to remove the warning: https://github.com/dmlc/dmlc-core/pull/598

[2020-03-09 20:13] leezu commented on #597
Should the CI be fixed first before enforcing it's status?

We can also consider switching from Travis to Github Actions.

[2020-03-09 20:15] comaniac commented on #597
Vote to switch to Github Actions. It's pretty convenient and totally free especially for public repos.

[2020-03-09 23:14] leezu opened #599 "flake8 checks not enforced"
CI currently runs flake8 on every run

https://github.com/dmlc/dmlc-core/blob/c8f7f9c81dfcf2489d3bbc6d3b2a9200a20fbcde/.travis.yml#L67-L71

Unfortunately the exit code is not checked and thus flake8 not enforced.

Example run: https://travis-ci.org/dmlc/dmlc-core/jobs/657898840?utm_medium=notification&utm_source=github_status

[2020-03-10 01:59] #576 closed

[2020-03-10 04:38] szha opened #601 "WARN_NO_PARAMDOC in Doxygen is disabled"
https://github.com/dmlc/dmlc-core/pull/600#issuecomment-596870036

[2020-03-18 13:34] vexilligera opened #603 "Building with VS2019"
Hi, I'm trying to update MXNet Windows build tool chain to support VS2019 and CUDA 10.2. DMLC build works well with VS2017. However, when built with VS2019, it gives me the following error:
[code]

The snippet around line 1753 looks something like this:
[code]

I'm wondering if you have any workaround of this issue, e.g., simply use `block->template is_empty<explicit_context>()` for such statement

[2020-03-20 03:51] haojin2 commented on #603
@tqchen This seems to be a blocker of upgrading MXNet's Windows CI to VS2019, do you have any comments on this? Thanks!

[2020-03-26 06:55] vexilligera commented on #603
See #604

[2020-03-26 06:55] #603 closed

[2020-05-20 15:34] tqchen commented on #601
doxygen updated as per #614

[2020-05-20 15:34] #601 closed

[2020-05-30 02:08] Light-of-Hers opened #620 "missing parentheses in macro"
https://github.com/dmlc/dmlc-core/blob/ae98c553992eb9f8039fb6e1d17286c0698985de/include/dmlc/logging.h#L192
It may cause some problems that "x" and "y" are not enclosed in parentheses.
For example, in tvm/src/runtime/ndarray.cc:58 `CHECK_EQ(dtype.bits & (dtype.bits - 1), 0);`

[2020-05-30 02:29] tqchen commented on #620
Thanks @Light-of-Hers for reporting the issue, @junrushao1994 can you help to send a patch to fix the issue?

[2020-05-30 02:33] okuvshynov commented on #620
I can fix it a little later today

[2020-05-30 23:35] tqchen commented on #620
https://github.com/dmlc/dmlc-core/pull/621

[2020-05-30 23:35] #620 closed

[2020-05-30 23:35] tqchen commented on #620
Thanks @Light-of-Hers @okuvshynov

[2020-06-08 18:29] #597 closed

[2020-06-08 18:31] szha opened #623 "[Feature] Logging level support"
Since dmlc-core logging is providing logging capability to several projects, it would be great to have the capability of setting logging levels which will improve the user experience in these projects.

https://github.com/apache/incubator-mxnet/issues/16666
https://github.com/apache/incubator-mxnet/issues/10492

[2020-06-10 07:08] trivialfis opened #625 "Memory leak in logging."
This line:

https://github.com/dmlc/dmlc-core/blob/9db4b20c868341abe2a9fe52b652f7d9447ed406/include/dmlc/logging.h#L171

Returns a raw pointer of string, which is not collected.  Although it happens only when fatal error occurs, but it's still a c++ exception which can be caught, so deleting it is necessary.  Also, it breaks sanitizer tests.

[2020-06-10 07:11] trivialfis commented on #625
Also @okuvshynov if you want to take a look. ;-)

[2020-06-10 07:35] junrushao1994 commented on #625
ooops...can we use unique ptr instead?

[2020-06-11 07:12] hcho3 commented on #625
Fixed in #626

[2020-06-11 07:12] #625 closed

[2020-06-11 07:15] hcho3 commented on #623
@trivialfis This is a good time to port #3982 to dmlc-core. I'd like to give it a try.

[2020-06-11 09:01] trivialfis commented on #623
Not sure about that.  I had a similar logging unity for my own use with some additional features like signal handling (printing a backtrace when segfault).  But the more I use logging, the more I like about the Python's `logging` module.  If you want to create a new c++ logging library, I suggest we can look into that direction a little bit.

[2020-06-11 09:08] hcho3 commented on #623
I agree that Python `logging` is nice. However, we need need logging in the C++ layer. Also, there is a large body of existing code using `LOG(INFO)`. That's why I'm inclined to port dmlc/xgboost#3982 to dmlc-core.

Do you see a clear design flaw in dmlc/xgboost#3982?

[2020-06-11 09:52] trivialfis commented on #623
@hcho3

Not yet, maybe no support for user defined verbosity level?

Yup,  I meant we can implement something similar to python `logging` in c++.

Sure, that won't be a problem.  But since dmlc-core is a common brick for other libraries.  Giving it some more thought would be great.

[2020-07-15 21:51] danieldjewell opened #629 "SSE Check Failing on android/aarch64"
Hello!

The check for sse2 (lines below) is failing on android/aarch64 (specifically Termux on Android). It incorrectly detects that SSE2 is available (which is most certainly is not). I suspect the problem lies in using clang-9 vs gcc-9...

I tested on an RPi running linux (aarch64) with GCC-9 and it seemed to detect  properly.

https://github.com/dmlc/dmlc-core/blob/ebcaa42d0b7271265e6a02ff468c6

[2020-07-15 22:01] hcho3 commented on #629
Are you cross-compiling to aarch64? The `check_cxx_compiler_flag()` macro attempts to compile with `-msse2`. If the host supports `-msse2` but the target does not, we'd have an issue.

[2020-08-16 22:29] szha opened #630 "[Feature] stack trace printing"
Currently in DMLC core the utility for printing stacktrace (and demangling) are the following:

https://github.com/dmlc/dmlc-core/blob/ebcaa42d0b7271265e6a02ff468c6753a8fbecdb/include/dmlc/logging.h#L49-L96

The problem with them is that they can't be used safely in asynchronous signal handlers, for which [non-reentrant functions](https://www.ibm.com/developerworks/library/l-reent/) are required.

[2020-08-25 17:30] #552 closed

[2020-09-08 18:26] khaled-rahman opened #636 "cmake option shows errror to build the app"
I am doing the following steps:
[code]
`make` option shows errors like the followings:
[code]

However, `make` on the root directory does not show these errors. It seems there is some kind of dependency problem. Would you please take a look at this issue? This will be helpful. Thank you.

[2020-09-08 18:32] hcho3 commented on #636
Please post details about your computing environment: OS, C++ compiler, CMake version etc. Also post the log from CMake.

[2020-09-08 18:45] khaled-rahman commented on #636
Hi, thank you. I have resolved the problem. Basically, the `any.h`  header file was not included in json.h file unless `DMLC_ENABLE_RTTI` is defined. This is not the default option.

[2020-09-08 18:45] #636 closed

[2020-11-04 11:18] Marchen0 opened #637 "Why the size of model vary with different number of workers?"
I 'm training a fm model on hadoop right now, and I notice the number of parts(files) of the model is equal to the number of worker. But I notice that the size of each part remain same when I change the worker number, that means the size of model also changed when I change number of worker. Could you pls give me some hint about this question?

[2021-02-26 02:58] JingLiofLiJing opened #642 "Why ref_counter of HdfsFileSystem isn't designed with atomic_int_type ？"
If last HDFSStream or singleton HdfsFilesystem object is descructed, i'm confused about "ref_counter_[0] -= 1" might not achieve the desired effect, which will lead to hdfsFS not disconnected.  Could you pls give me some hint about this question?

[2021-03-17 14:07] tcandzq opened #644 "How Can I run example/parameter.cc?"
I find  there is no any information about how can i use dmcl-core code and compile example/patameter.cc!
Please help me thanks!

[2021-03-17 16:04] #644 closed

[2021-04-09 06:45] qjebbs opened #646 "Crosscompilation fails due to incorrect case"
Windows is case-insensitive, but when cross-compiling dmlc from Linux with the MinGW tools this causes problems, because the file is named shlwapi.h in lowercase.

include/dmlc/filesystem.h (L21)

[code]
src/io/local_filesys.cc (L16)
[code]

same issue with this one:
https://github.com/mattn/mruby-pcre-regexp/issues/7

[2021-04-29 09:59] ztma opened #648 "Bug in InputSplitBase::Chunk::Append() ?"
If ReadChunk return true and set variable size to 0, we should resize data to double size and recalculate the new 'size'.

bool InputSplitBase::Chunk::Append(InputSplitBase *split, size_t buffer_size) {
  size_t previous_size = end - begin;
  data.resize(data.size() + buffer_size);
  while (true) {
    // leave one tail chunk
    size_t size = buffer_size * sizeof(uint32_t);
    // set back to 0 f

[2021-07-26 22:08] hcho3 opened #657 "Build standalone test executables with CMake"
Right now, standalone test executables in `test/` are built with GNU Make ([Makefile](https://github.com/dmlc/dmlc-core/blob/main/test/dmlc_test.mk)). We should also allow these executables to be built with CMake.

[2021-07-27 00:18] hcho3 commented on #657
Also, the standalone executables should be tested in the CI. Right now, they are not.

[2022-06-20 06:32] 987410 opened #669 "QNX: unable to determine endianness of your machine"
Hello,

I am using dmlc-core in qnx env, when compile dmlc-core, error  "Unable to determine endianness of your machine; use CMake to compile" happened in endian.h:

#ifdef DMLC_CMAKE_LITTLE_ENDIAN
  // If compiled with CMake, use CMake's endian detection logic
  #define DMLC_LITTLE_ENDIAN DMLC_CMAKE_LITTLE_ENDIAN
#else
  #if defined(__APPLE__) || defined(_WIN32)
    #define DMLC_LITTLE_ENDIAN 1

[2022-06-20 22:02] hcho3 commented on #669
As the error message suggests, please use CMake to build.

[2022-06-21 05:23] LeetcodeCourageK opened #670 "can you update concurrentqueue.h according original cameron314/concurrentqueue"
because some bugs have been fixed in https://github.com/cameron314/concurrentqueue/blob/master/concurrentqueue.h,
it will be better to keep same with the latest concurrentqueue.h

[2022-08-03 02:20] yaox12 commented on #403
I notice that `cuh` was removed in commit [#b647be2](https://github.com/dmlc/dmlc-core/commit/b647be2dee985d77a12e8e41bc27382221938290). Any reasons? @piiswrong

[2022-10-23 07:11] fareesh opened #675 "Error: dmlc/json.h:695: unknown string escape \u"
Seems like reading JSON fails when trying to read something that has arbitrary unicode characters. Is this something that can be added as an edge case, or is there a problem in the way the input JSON has been generated?